<!DOCTYPE html>
<html>

<head>
  \{include file="common/resource.html"\}
</head>

<body class="hold-transition skin-yellow sidebar-mini">
  <div class="wrapper">
    \{include file="common/header.html"\}
    \{include file="common/menu.html"\}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>歡迎使用導覽管理系統</h1>
      </section>
      <!-- Main content -->
      <section class="content">
        請點選左邊選單進行功能操作。
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    \{include file="common/footer.html"\}
  </div>
  <!-- ./wrapper -->
</body>

</html>
