<!DOCTYPE html>
<html>

<head>
  \{include file="common/resource.html"\}
</head>

<body class="hold-transition skin-yellow sidebar-mini">
  <div class="wrapper">
    \{include file="common/header.html"\} \{include file="common/menu.html"\}
    <div class="content-wrapper">
      <!-- Content Header -->
      <section class="content-header">
        <h1>請點選左邊選單進行功能操作</h1>
      </section>
      <!-- Main content -->
      <section class="content">
      </section>
    </div>
    \{include file="common/footer.html"\}
  </div>
</body>

</html>