<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\}
<script>
$(document).ready(function() {
    var checkStateMapping = {
        1: '非金錢往來行為',
        2: '未付款',
        3: '已付訂金',
        4: '已結清'
    };
    $(".checkState").each(function(){
        var mapping = checkStateMapping[$(this).attr('value')];
        $(this).html(mapping);
    });
});
    function deleteTran(tranId){
        BootstrapDialog.show({
            title:'提醒',
            message: '確認是否刪除使用者資料',
            buttons: [{
                label: '確定',
                cssClass: 'btn-danger',
                action: function(){
                    $.ajax({
                        type: "POST",
                        url: "../controller/userController.php",
                        data: {'action': 'userShoppingRecordDelete', 'tranId': tranId},
                        success: function() {
                            location.reload();
                        }
                    });
                }
            },{
                label: '取消',
                action: function(dialogItself){
                    dialogItself.close();
                }
            }]
        });
    }
</script>
</head>

<body class="hold-transition skin-yellow sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\} \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content">
                <div class="row">
                    <div class="col-md-6">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\} \{if $msg != ''\}
                        <div class="alert alert-success alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$msg\}</h4>
                        </div>
                        \{/if\}

                         <ul class="nav nav-tabs" style="border-bottom-color: #337ab7; border-bottom-width: 3px; font-size:20px; font-weight: bold;">
                          <li><a href="../controller/userController.php?action=userDetailPrepare&userId=\{$userId\}">會員詳細資料</a></li>
                          <li class="active"><a href="#">會員購物資料</a></li>
                          <li><a href="../controller/userController.php?action=userCourseRecordPrepare&userId=\{$userId\}">會員課程資料</a></li>
                        </ul>

                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title" style="text-align: left;">購物紀錄</h3>

                                <h4 class="box-tools" style="color:#e2533b; font-weight:bold; font-size: 25px;">會員點數 \{$point\}</h4>
                            </div>
                            <div class="box-body">
                                <table class="table table-striped" id="tranListTable">
                                    <thead>
                                        <tr style="background-color: #00c0ef; color: #fff;">
                                            <th>交易日期</th>
                                            <th>結帳狀態</th>
                                            <th>交易金額</th>
                                            <th>獲得點數</th>
                                            <th>交易評分</th>
                                            <th>最後更新時間</th>
                                            <th>操作選項</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                         \{foreach from=$allTranData item=tran\}
                                            <tr>
                                                <td>\{$tran.createTime\}</td>
                                                <td class="checkState" value="\{$tran.checkState\}"></td>
                                                <td>\{$tran.price\}</td>
                                                <td>\{$tran.point\}</td>
                                                <td>\{$tran.score\}</td>
                                                <td>\{$tran.lastUpdateTime\}</td>
                                                <td>

                                                    <a href="../controller/userController.php?action=userShoppingRecordEdit&tranId=\{$tran.tranId\} ">
                                                        <button class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-pencil"></i></button>
                                                    </a>&nbsp;

                                                    <a href="#">
                                                        <button class="btn btn-sm btn-danger" onclick="deleteTran('\{$tran.tranId\}');"><i class="glyphicon glyphicon-remove"></i></button>
                                                    </a>
                                                </td>
                                            </tr>
                                         \{/foreach\}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
</body>

</html>
