<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\}
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\}
        \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content-header">
                <h1></h1>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\}
                        \{if $msg != ''\}
                        <div class="alert alert-success alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$msg\}</h4>
                        </div>
                        \{/if\}
                        <div class="box box-info">
                            <div class="box-header">
                                <h3 class="box-title">使用者列表</h3>
                            </div>
                            <div class="box-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr style="background-color: #00c0ef;color: #fff;">
                                            <th>ID</th>
                                            <th>E-mail</th>
                                            <th>角色權限</th>
                                            <th>註冊時間</th>
                                            <th>上次造訪</th>
                                            <th>最後更新</th>
                                            <th>操作選項</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        \{foreach from=$userData item=user\}
                                        <tr>
                                            <td>\{$user.user_id\}</td>
                                            <td>\{$user.email\}</td>
                                            \{if $user.competence == 0\}
                                            <td>管理員</td>
                                            \{elseif $user.competence == 1\}
                                            <td>專案人員</td>
                                            \{elseif $user.competence == 2\}
                                            <td>櫃台人員</td>
                                            \{elseif $user.competence == 3\}
                                            <td>行政人員</td>
                                            \{/if\}
                                            <td>\{$user.create_date\}</td>
                                            \{if $user.last_login == '0000-00-00 00:00:00'\}
                                            <td>未曾登入</td>
                                            \{else\}
                                            <td>\{$user.last_login\}</td>
                                            \{/if\}
                                            <td>\{$user.lastupdate_date\}</td>
                                            <td>
                                                <a href="../controller/userController.php?action=viewEditForm&userId=\{$user.user_id\}">
                                                    <button class="btn btn-sm btn-success"><i class="glyphicon glyphicon-pencil"></i></button>
                                                </a>&nbsp;
                                                <a href="#">
                                                    <button class="btn btn-sm btn-danger" onclick="deleteUser(\{$user.user_id\});"><i class="glyphicon glyphicon-remove"></i></button>
                                                </a>
                                            </td>
                                        </tr>
                                        \{/foreach\}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
    <script src="../javascript/userList.js"></script>
</body>

</html>
