<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\}
<script>
$(document).ready(function() {
    var checkStateMapping = {
        1: '參加',
        2: '考量中',
        3: '不參加',
    };
    $(".state").each(function(){
        var mapping = checkStateMapping[$(this).attr('value')];
        $(this).html(mapping);
    });
});
</script>
</head>

<body class="hold-transition skin-yellow sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\} \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content">
                <div class="row">
                    <div class="col-md-6">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\} \{if $msg != ''\}
                        <div class="alert alert-success alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$msg\}</h4>
                        </div>
                        \{/if\}

                         <ul class="nav nav-tabs">
                          <li><a href="../controller/userController.php?action=userDetailPrepare&userId=\{$userData.userId\}">會員詳細資料</a></li>
                          <li><a href="../controller/userController.php?action=userShoppingRecordPrepare&userId=\{$userData.userId\}">會員購物資料</a></li>
                          <li class="active"><a href="#">會員課程資料</a></li>
                        </ul>



                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title" style="text-align: left;">購物紀錄</h3>

                                <h4 class="box-tools">會員點數 \{$point\}</h4>
                            </div>
                            <div class="box-body">
                                <table class="table table-striped" id="tranListTable">
                                    <thead>
                                        <tr style="background-color: #00c0ef; color: #fff;">
                                            <th>課程名稱</th>
                                            <th>出席情況</th>
                                            <th>最後更新時間</th>
                                            <th>操作選項</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                         \{foreach from=$allUserCourseData item=courseData\}
                                            <tr>
                                                <td>\{$courseData.courseName\}</td>
                                                <td class="state" value="\{$courseData.state\}"></td>
                                                <td>\{$courseData.lastUpdateTime\}</td>
                                                <td>

                                                    <a href="#">
                                                        <button class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-pencil"></i></button>
                                                    </a>&nbsp;

                                                    <a href="#">
                                                        <button class="btn btn-sm btn-danger" onclick="deleteTran('\{$courseData.courseId\}');"><i class="glyphicon glyphicon-remove"></i></button>
                                                    </a>
                                                </td>
                                            </tr>
                                         \{/foreach\}
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
</body>

</html>
