<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\}

</head>

<script>

    $(document).ready(function () {

        var frameData = \{$frameData|json_encode\};
        var glassData = \{$glassData|json_encode\};
        var lenData = \{$lenData|json_encode\};
        var partData = \{$partData|json_encode\};
        var combineData = \{$combineData|json_encode\};
        var allItemData = {
            'frame': frameData,
            'glass': glassData,
            'len': lenData,
            'part': partData,
            'combine': combineData
        };
        var allTranDetailData = \{$allTranDetailData|json_encode\};
        var tranData = \{$tranData|json_encode\};

        var num = 0;
        var hidden = "hidden";
        $(document).on('click', '.shoppingRecordBtn', function () {
            if (num != 0)
                hidden = "";

            $(`#box${num}`).html(`
                <div class="box-body">
                    <div id="itemTypeDiv" class="form-group">
                        <label for="itemType" class="col-sm-2 control-label">購買類型</label>
                        <div class="col-sm-6">
                            <select required class="selectpicker itemType" name="itemType_${num}" id="itemType_${num}">
                                <option value="">請選擇購買類型</option>
                                <option value="frame">鏡框</option>
                                <option value="glass">鏡片</option>
                                <option value="len">隱形眼鏡</option>
                                <option value="part">零件(維修)</option>
                                <option value="combine">組合商品</option>
                            </select>
                        </div>
                    </div>

                    <div id="itemNameDiv" class="form-group">
                        <label for="itemName" class="col-sm-2 control-label">品項名稱</label>
                        <div class="col-sm-6">
                            <select required class="selectpicker itemName" name="itemName_${num}" id="itemName_${num}" data-live-search="true" title="請選擇品牌">
                            </select>
                        </div>
                    </div>

                    <div id="amountDiv" class="form-group">
                        <label for="amount" class="col-sm-2 control-label">數量</label>
                        <div class="col-sm-6">
                            <input id="amount_${num}" name="amount_${num}" class="form-control" type="number" min="1" value="1">
                        </div>
                    </div>

                </div>

                <div class="box-footer" style="text-align: right;">
                    <a id="deleteBtn_${num}" class="deleteShoppingRecordBtn btn btn-sm btn-danger ${hidden}"><i class="glyphicon glyphicon-remove"></i></a>
                    <a id="shoppingRecordBtn_${num}" class="shoppingRecordBtn btn btn-sm btn-primary"><i class="glyphicon glyphicon-plus"></i></a>
                    <input type="hidden" id="state_${num}" name="state_${num}" value="insert" class="form-control">
                </div>

            `).removeClass("hidden");

            $(`#itemType_${num}`).selectpicker('refresh');
            $(`#itemName_${num}`).selectpicker('refresh');
            $(`#box${num}`).after(`<div id="box${num + 1}" class="box box-primary hidden">`);
            num++;

            $('input[name=tranDetailLength]').val(num);
        });

        // delete button event
        $(document).on('click', '.deleteShoppingRecordBtn', function () {
            var toBeDeleteBoxNum = $(this).attr('id').split('_')[1];

            console.log($(`#state_${toBeDeleteBoxNum}`).val());
            if ($(`#state_${toBeDeleteBoxNum}`).val() === 'insert') {
                $(`#box${toBeDeleteBoxNum}`).remove();
            }

            if ($(`#state_${toBeDeleteBoxNum}`).val() === 'update') {
                $(`#box${toBeDeleteBoxNum}`).addClass('hidden');
                $(`#state_${toBeDeleteBoxNum}`).val('delete');
            }
        });




        // get itemName when itemType was selecting(changing)
        $(document).on('change', 'select[id^=itemType]', function () {
            var selectedItemNameNum = $(this).attr('id').split('_')[1];
            var selectedType = $(this).val();
            var correspondingItems = [];
            var optionsHtml = "";
            for (var i = 0; i < allItemData[selectedType].length; i++) {
                optionsHtml += `<option value=${allItemData[selectedType][i][`${selectedType}Id`]}>${allItemData[selectedType][i][`${selectedType}Name`]}</option>`;
            }
            $(`select[id=itemName_${selectedItemNameNum}]`).html(optionsHtml);
            $(`select[id=itemName_${selectedItemNameNum}]`).selectpicker('refresh');
        });

        //  produce tranDetail in database
        var itemType = "";
        for (i in allTranDetailData) {
            $(`#shoppingRecordBtn_0`).click();
            itemType = allTranDetailData[i]['itemId'].split('_')[0];
            $(`select[id=itemType_${i}]`).val(itemType).change(); //  change trigger when itemName is selected and itemType changed at the same Time
            $(`select[id=itemName_${i}]`).val(allTranDetailData[i]['itemId']);
            $(`#state_${i}`).val('update');
            $(`#amount_${i}`).val(allTranDetailData[i]['itemNum']);


            $(`select[id=itemType_${i}]`).selectpicker('refresh');
            $(`select[id=itemName_${i}]`).selectpicker('refresh');
        }

        $(`textarea[name=description]`).val(tranData['description']);
        $('#price').val(tranData['price']);
        $(`textarea[name=opinion]`).val(tranData['opinion']);
        $('#score').val(tranData['score']);


        $('#deletePoint').val(tranData['deletePoint']);
        $(`input.form-check-input[value=${tranData['checkState']}]`).attr('checked', 'true');
    });
</script>

<body class="hold-transition skin-yellow sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\} \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content-header">
                <h1>會員交易紀錄編輯</h1>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-md-6">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\} \{if $msg != ''\}
                        <div class="alert alert-success alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$msg\}</h4>
                        </div>
                        \{/if\}


                        <form class="form-horizontal" method="post" action="../controller/userController.php">

                            <!--checkState box-->
                            <div id="checkStateBox" class="box box-primary">
                                <div class="box-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="checkState" value="1" checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                            非金錢往來行為
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="checkState" value="2">
                                        <label class="form-check-label" for="exampleRadios2">
                                            未付款
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="checkState" value="3">
                                        <label class="form-check-label" for="exampleRadios3">
                                            已付訂金
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="checkState" value="4">
                                        <label class="form-check-label" for="exampleRadios3">
                                            已結清
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div id="box0" class="box box-primary hidden">
                                <div class="box-footer" style="text-align: right;">
                                    <a id="shoppingRecordBtn_0" class="shoppingRecordBtn btn btn-sm btn-primary">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </a>
                                </div>
                            </div> <!--description & price box-->
                            <div id="priceBox" class="box box-primary">
                                <div class="box-body">
                                    <div id="descriptionDiv" class="form-group">
                                        <label for="description" class="col-sm-2 control-label">備註</label>
                                        <div class="col-sm-8">
                                            <textarea name="description" class="form-control" rows="5"></textarea>
                                        </div>
                                    </div>

                                    <div id="deletePointDiv" class="form-group">
                                        <label for="deletePoint" class="col-sm-2 control-label">扣除點數</label>
                                        <div class="col-sm-6">
                                            <input id="deletePoint" name="deletePoint" class="form-control" type="number" min="0" value="0">
                                        </div>
                                    </div>

                                    <div id="pirceDiv" class="form-group">
                                        <label for="price" class="col-sm-2 control-label">最後結帳金額</label>
                                        <div class="col-sm-6">
                                            <input id="price" name="price" class="form-control" type="number" min="0" value="0">
                                        </div>
                                    </div>
                                </div>

                                <div class="box-footer" style="text-align: right;">
                                    <a href="../controller/userController.php?action=userShoppingRecordPrepare&userId=\{$tranData.userId\}" class="btn btn-warning">取消</a>
                                    <input type="hidden" name="action" value="userShoppingRecordEdit">
                                    <input type="hidden" name="userId" value="\{$tranData.userId\}">
                                    <input type="hidden" name="tranId" value="\{$tranData.tranId\}">
                                    <input type="hidden" name="tranDetailLength" value="1">
                                    <button type="submit" class="btn btn-success">更新</button>
                                </div>
                            </div>

                            <!--opinion and score box-->
                            <div class="box box-primary">
                                <div class="box-body">
                                    <div id="feebackDiv" class="form-group">
                                        <label for="opinion" class="col-sm-2 control-label">交易回饋</label>
                                        <div class="col-sm-8">
                                            <textarea readonly name="opinion" class="form-control" rows="5"></textarea>
                                        </div>
                                    </div>

                                    <div id="scoreDiv" class="form-group">
                                        <label for="score" class="col-sm-2 control-label">交易評分</label>
                                        <div class="col-sm-6">
                                            <input readonly id="score" name="score" class="form-control" type="number">
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </form>

                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
</body>

</html>
