<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\} 
    <script type="text/javascript" src="../javascript/modeEdit.js"></script>
    <script type="text/javascript" src="../plugins/bootstrap-filestyle/src/bootstrap-filestyle.min.js"></script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\}
        \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content-header">
                <h1>修改展項</h1>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-md-8">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\}
                        \{if $msg != ''\}
                        <div class="alert alert-success alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$msg\}</h4>
                        </div>
                        \{/if\}
                        <div class="box box-success">
                             <div class="box-header with-border">
                                <h3 class="box-title">展項編號:&nbsp;&nbsp;\{$modeData.mode_id\}</h3>
                            </div>
                            <form class="form-horizontal" enctype="multipart/form-data" method="post" action="../controller/modeController.php" onsubmit="return formValidation();">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">名稱</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="modeName" name="modeName" value="\{$modeData.name\}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">英文名稱</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="modeNameEn" name="modeNameEn" value="\{$modeData.name_en\}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">簡介</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="modeIntroduction" name="modeIntroduction" value="\{$modeData.introduction\}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">英文簡介</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="modeIntroductionEn" name="modeIntroductionEn" value="\{$modeData.introduction_en\}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">語音導覽</label>
                                        <div class="col-sm-10">
                                             <input type="file" id="modeGuideVoice" name="modeGuideVoice" data-input="false" accept="audio/*">
                                            <audio controls id="modeGuideVoiceAudio" src="\{$modeData.guide_voice\}">
                                            </audio> 
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <label class="col-sm-2 control-label">英文語音導覽</label>
                                        <div class="col-sm-10">
                                             <input type="file" id="modeGuideVoiceEn" name="modeGuideVoiceEn" data-input="false" accept="audio/*">
                                            <audio controls id="modeGuideVoiceEnAudio" src="\{$modeData.guide_voice_en\}">
                                            </audio> 
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">影片</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="modeVideo" name="modeVideo" placeholder="輸入影片網址"><br>
                                            <iframe id="ytplayer" type="text/html" width="500" height="300"src="http://www.youtube.com/embed/\{$modeVideo\}?autoplay=0&origin=http://example.com"frameborder="0"></iframe>
                                        </div>
                                    </div>
                                    <div  class="form-group">
                                        <label class="col-sm-2 control-label">過場圖片(背景)</label>
                                        <div class="col-sm-10">
                                            <input type="file" id="modeBG" name="modeBG" data-input="false" accept="image/*">
                                            <img id="modeBGImg" class="img-thumbnail" src="\{$modeData.splash_bg\}">
                                        </div>
                                    </div>
                                    <div  class="form-group">
                                        <label class="col-sm-2 control-label">直式過場圖片(背景)</label>
                                        <div class="col-sm-10">
                                            <input type="file" id="modeBGVertical" name="modeBGVertical" data-input="false" accept="image/*">
                                            <img id="modeBGVerticalImg" class="img-thumbnail" src="\{$modeData.splash_bg_vertical\}">
                                        </div>
                                    </div>
                                    <div  class="form-group">
                                        <label class="col-sm-2 control-label">過場圖片(強調高亮)</label>
                                        <div class="col-sm-10">
                                            <input type="file" id="modeFG" name="modeFG" data-input="false" accept="image/*">
                                            <img id="modeFGImg" class="img-thumbnail" src="\{$modeData.splash_fg\}">
                                        </div>
                                    </div>
                                    <div  class="form-group">
                                        <label class="col-sm-2 control-label">直式過場圖片(強調高亮)</label>
                                        <div class="col-sm-10">
                                            <input type="file" id="modeFGVertical" name="modeFGVertical" data-input="false" accept="image/*">
                                            <img id="modeFGVerticalImg" class="img-thumbnail" src="\{$modeData.splash_fg_vertical\}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">過場圖片(模糊)</label>
                                        <div class="col-sm-10">
                                            <input type="file" id="modeBL" name="modeBL" data-input="false" accept="image/*">
                                            <img id="modeBLImg" class="img-thumbnail" src="\{$modeData.splash_blur\}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">直式過場圖片(模糊)</label>
                                        <div class="col-sm-10">
                                           <input type="file" id="modeBLVertical" name="modeBLVertical" data-input="false" accept="image/*">
                                            <img id="modeBLVerticalImg" class="img-thumbnail" src="\{$modeData.splash_blur_vertical\}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">所屬區域</label>
                                        <div class="col-sm-4">
                                            <select id="modeZone" name="modeZone" class="selectpicker col-sm-10">
                                            <option value=""></option>
                                            \{foreach from=$allZoneData item='item'\}
                                                \{if $item.zone_id == $modeData.zone_id\}
                                                <option value="\{$item.zone_id\}" selected> \{$item.zone_id\}&nbsp;&nbsp;\{$item.name\}</option>
                                                \{else\}
                                                <option value="\{$item.zone_id\}" > \{$item.zone_id\}&nbsp;&nbsp;\{$item.name\}</option>
                                                \{/if\}
                                            \{/foreach\}
                                        </select>
                                        </div>
                                    </div>                   
                                </div>
                                <div class="box-footer" style="text-align: right;">
                                    <a href="../controller/modeController.php?action=detailMode&modeID=\{$modeData.mode_id\}" class="btn btn-warning">取消</a>
                                    <input type="hidden" name="action" value="updateMode">
                                    <input type="hidden" name="modeID" value="\{$modeData.mode_id\}">
                                    <button type="submit" class="btn btn-primary">確定</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
</body>


</html>
