<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\}
    <script src="../javascript/deviceDelete.js"></script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\}
        \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content-header">
                <h1>展項詳細資料</h1>
                <ol class="breadcrumb">
                    <li><a href="../controller/zoneController.php?action=viewZoneDetail&zoneId=\{$modeData.zone_id\}"><i class="fa fa-arrow-right"></i>回到區域詳細資料</a></li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\}
                        \{if $msg != ''\}
                        <div class="alert alert-success alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$msg\}</h4>
                        </div>
                        \{/if\}
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">展項編號:&nbsp;&nbsp;\{$modeData.mode_id\}</h3>&nbsp;&nbsp;
                                <a href="../controller/modeController.php?action=editModeForm&modeID=\{$modeData.mode_id\}">
                                    <button class="btn btn-sm btn-success"><i class="glyphicon glyphicon-pencil"></i></button>
                                </a>
                            </div>
                            <div class="box-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr style="background-color: #00c0ef;color: #fff;">
                                            <th class="col-md-2">屬性</th>
                                            <th>設定值</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>名稱</td>
                                            <td>\{$modeData.name\}</td>
                                        </tr>
                                        <tr>
                                            <td>英文名稱</td>
                                            <td>\{$modeData.name_en\}</td>
                                        </tr>
                                        <tr>
                                            <td>簡介</td>
                                            <td>\{$modeData.introduction\}</td>
                                        </tr>
                                        <tr>
                                            <td>英文簡介</td>
                                            <td>\{$modeData.introduction_en\}</td>
                                        </tr>
                                        <tr>
                                            <td>隸屬區域</td>
                                            <td>\{$modeData.zone_id\}</td>
                                        </tr>
                                        <tr>
                                            <td>影片</td>
                                            <td>
                                                <iframe id="ytplayer" type="text/html" width="500" height="300"src="http://www.youtube.com/embed/\{$modeVideo\}?autoplay=0&origin=http://example.com"frameborder="0"></iframe>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>導覽語音</td>
                                            <td>
                                                <audio controls src="\{$modeData.guide_voice\}"></audio>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>英文導覽語音</td>
                                            <td>
                                                <audio controls src="\{$modeData.guide_voice_en\}"></audio>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>過場圖片(背景)</td>
                                            <td><img src="\{$modeData.splash_bg\}" alt="尚未上傳圖片"class="img-thumbnail"></td>
                                        </tr>
                                        <tr>
                                            <td>直式過場圖片(背景)</td>
                                            <td><img src="\{$modeData.splash_bg_vertical\}" alt="尚未上傳圖片"class="img-thumbnail"></td>
                                        </tr>
                                        <tr>
                                            <td>過場圖片(強調高亮)</td>
                                            <td><img src="\{$modeData.splash_fg\}" alt="尚未上傳圖片"class="img-thumbnail"></td>
                                        </tr>
                                        <tr>
                                            <td>直式過場圖片(強調高亮)</td>
                                            <td><img src="\{$modeData.splash_fg_vertical\}" alt="尚未上傳圖片"class="img-thumbnail"></td>
                                        </tr>
                                        <tr>
                                            <td>過場圖片(模糊)</td>
                                            <td>
                                                <img src="\{$modeData.splash_blur\}" alt="尚未上傳圖片"class="img-thumbnail">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>直式過場圖片(模糊)</td>
                                            <td>
                                                <img src="\{$modeData.splash_blur_vertical\}" alt="尚未上傳圖片"class="img-thumbnail">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>建立時間</td>
                                            <td>\{$modeData.create_date\}</td>
                                        </tr>
                                        <tr>
                                            <td>最近編輯</td>
                                            <td>\{$modeData.lastupdate_date\}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">裝置列表&nbsp;&nbsp;<a href="../controller/deviceController.php?action=addDeviceForm&modeID=\{$modeData.mode_id\}"><button class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
                                </a>
                                </h3>
                            </div>
                            <div class="box-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr style="background-color: #00c0ef;color: #fff;">
                                            <th class="col-md-1">裝置ID</th>
                                            <th class="col-md-1">裝置名稱</th>
                                            <th class="col-md-1">英文名稱</th>
                                            <th class="col-md-2">供應廠商</th>
                                            <th class="col-md-2">建立時間</th>
                                            <th class="col-md-2">最近編輯</th>
                                            <th class="col-md-2">操作選項</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        \{foreach from=$deviceData item='item'\}
                                        <tr>
                                            <td>\{$item.device_id\}</td>
                                            <td>\{$item.DName\}</td>
                                            <td>\{$item.name_en\}</td>
                                            <td>\{$item.company_id\}&nbsp;&nbsp;\{$item.CName\}</td>
                                            <td>\{$item.create_date\}</td>
                                            <td>\{$item.lastupdate_date\}</td>
                                            <td>
                                                <a href="../controller/deviceController.php?action=detailDevice&deviceID=\{$item.device_id\}">
                                                    <button class="btn btn-sm btn-info"><i class="glyphicon glyphicon-search"></i></button>
                                                </a>&nbsp;
                                                <a href="../controller/deviceController.php?action=editDeviceForm&deviceID=\{$item.device_id\}">
                                                    <button class="btn btn-sm btn-success"><i class="glyphicon glyphicon-pencil"></i></button>
                                                </a>&nbsp;
                                                <a>
                                                    <button class="btn btn-sm btn-danger" onclick="deleteDevice(\{$item.device_id\})"><i class="glyphicon glyphicon-remove"></i></button>
                                                </a>
                                            </td>
                                        </tr>
                                        \{/foreach\}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
</body>

</html>
