<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\}
    <script>
        function fieldValidation(field) {
            if ($.trim($(field).val()) == '') {
                $(field + 'Div').addClass('has-error');
                $(field + 'Div').val('');
                return false;
            } else {
                $(field + 'Div').removeClass('has-error');
            }
            return true;
        }

        function formValidation() {
            if (fieldValidation('lenName') ) {
                return true;
            } else {
                BootstrapDialog.alert('請至少填寫隱形眼鏡名稱');
                return false;
            }
        }
    </script>
</head>

<body class="hold-transition skin-yellow sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\}
        \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content-header">
                <h1>隱形眼鏡新增</h1>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-md-6">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\}
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">新增隱形眼鏡</h3>
                            </div>
                            <!-- form-->
                            <form class="form-horizontal" method="post" action="../controller/lenController.php" onsubmit="formValidation()">
                                <div class="box-body">
                                    <div id="lenNameDiv" class="form-group">
                                        <label for="lenName" class="col-sm-2 control-label">隱形眼鏡名稱</label>
                                        <div class="col-sm-6">
                                            <input id="lenName" name="lenName" class="form-control" placeholder="隱形眼鏡名稱" required>
                                        </div>
                                    </div>
                                    <div id="lenBrandDiv" class="form-group">
                                        <label for="lenBrand" class="col-sm-2 control-label">隱形眼鏡品牌</label>
                                        <div class="col-sm-6">
                                            <select class="selectpicker" name="lenBrand" id="lenBrand" data-live-search="true" title="請選擇品牌">
                                                \{foreach from=$brandData item=brand \}
                                                <option value='\{$brand.brandId\}' selected>\{$brand.brandName\}</option>
                                                \{/foreach\}
                                            </select>
                                        </div>
                                    </div>
                                    <div id="quantityDiv" class="form-group">
                                        <label for="quantity" class="col-sm-2 control-label">隱形眼鏡片數</label>
                                        <div class="col-sm-6">
                                            <input type="number" id="quantity" name="quantity" class="form-control" data-bind="value:replyNumber" min="0" placeholder="隱形眼鏡片數">
                                        </div>
                                    </div>
                                    <div id="sizeDiv" class="form-group">
                                        <label for="size" class="col-sm-2 control-label">隱形眼鏡大小</label>
                                        <div class="col-sm-6">
                                            <input id="size" name="size" class="form-control" placeholder="隱形眼鏡大小">
                                        </div>
                                    </div>
                                    <div id="periodDiv" class="form-group">
                                        <label for="period" class="col-sm-2 control-label">使用天數</label>
                                        <div class="col-sm-3">
                                            <select class="selectpicker" name="period" id="period">
                                                <option value=1>日拋</option>
                                                <option value=2>月拋</option>
                                                <option value=3>周拋</option>
                                                <option value=4>雙周拋</option>
                                                <option value=5>季拋</option>
                                                <option value=6>硬式</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div id="colorDiv" class="form-group">
                                        <label for="lenColor" class="col-sm-2 control-label">隱形眼鏡顏色</label>
                                        <div class="col-sm-6">
                                            <input id="color" name="color" class="form-control" placeholder="隱形眼鏡顏色">
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer" style="text-align: right;">
                                    <a href="../controller/lenController.php?action=lenAddPrepare" class="btn btn-warning">取消</a>
                                    <input type="hidden" name="action" value="lenAdd">
                                    <button type="submit" class="btn btn-success">確定</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
</body>

</html>
