<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\}
    <script type="text/javascript" src="../plugins/bootstrap-filestyle/src/bootstrap-filestyle.min.js">
    </script>
    <script>
    </script>
</head>

<body class="hold-transition skin-yellow sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\} \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content-header">
                <h1>店家資訊</h1>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-md-10">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\}
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">新增店家</h3>
                            </div>
                            <!-- form-->
                            <form class="form-horizontal" method="post" action="../controller/storeController.php" onsubmit="formValidation()">
                                <div class="box-body">
                                    <div id="storeNameDiv" class="form-group">
                                        <label for="storeName" class="col-sm-2 control-label">店名</label>
                                        <div class="col-sm-7">
                                            <input id="storeName" name="educationTitle" class="form-control" placeholder="輸入店家名稱">
                                        </div>
                                    </div>
                                    <div id="storeAddressDiv" class="form-group">
                                        <label for="storeAddress" class="col-sm-2 control-label">地址</label>
                                        <div class="col-sm-7">
                                            <input id="storeAddress" name="educationTitle" class="form-control" placeholder="輸入地址">
                                        </div>
                                    </div>
                                    <div id="storePhoneDiv" class="form-group">
                                        <label for="storePhone" class="col-sm-2 control-label">聯絡電話</label>
                                        <div class="col-sm-2">
                                            <input id="storePhone" name="educationTitle" class="form-control" placeholder="輸入聯絡電話">
                                        </div>
                                        <label for="storePhone" class="col-sm-2 control-label">營業時間</label>
                                        <div class="col-sm-2">
                                            <input id="storePhone" name="educationTitle" class="form-control" placeholder="輸入營業時間">
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer" style="text-align: right;">
                                    <a href="../controller/stroeController.php?action=main" class="btn btn-warning">取消</a>
                                    <input type="hidden" name="action" value="stroeAdd">
                                    <button type="submit" class="btn btn-success">確定</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
</body>

</html>