<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\}
    <script>
        function deleteStore(storeId){
        BootstrapDialog.show({
            title:'提醒',
            message: '確定刪除嗎? 店家資訊刪除後將無法回復。',
            buttons: [{
                label: '確定',
                cssClass: 'btn-danger',
                action: function(){
                    location='../controller/storeController.php?action=storeDelete&storeId='+ storeId;
                }
            },{
                label: '取消',
                action: function(dialogItself){
                    dialogItself.close();
                }
            }]
        });
    }
    </script>
</head>

<body class="hold-transition skin-yellow sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\}
        \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content-header">
                <h1>店家資訊檢視修改</h1>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-8">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\}
                        \{if $msg != ''\}
                        <div class="alert alert-success alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$msg\}</h4>
                        </div>
                        \{/if\}
                        <div class="box box-info">
                            <div class="box-header">
                                <h3 class="box-title">店家列表</h3>
                            </div>
                            <div class="box-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr style="background-color: #00c0ef; color: #fff;">
                                            <th>店家名稱</th>
                                            <th>地址</th>
                                            <th>電話</th>
                                            <th>營業時間</th>
                                            <th>額外說明</th>
                                            <th>最後更新時間</th>
                                            <th>最後更新時間</th>
                                            <th>操作選項</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        \{foreach from=$allstoreData item=store\}
                                        <tr>
                                            <td>\{$store.storeName\}</td>
                                            <td>\{$store.address\}</td>
                                            <td>\{$store.phoneNumber\}</td>
                                            <td>\{$store.businessHours\}</td>
                                            <td>\{$store.description\}</td>
                                            <td>\{$store.createTime\}</td>
                                            <td>\{$store.lastUpdateTime\}</td>
                                            <td>
                                                <a href="../controller/storeController.php?action=storeEdit&storeId=\{$store.storeId\})">
                                                    <button class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-pencil"></i></button>
                                                </a>&nbsp;
                                                <a href="#">
                                                    <button class="btn btn-sm btn-danger" onclick="deleteStore('\{$store.storeId\}');"><i class="glyphicon glyphicon-remove"></i></button>
                                                </a>
                                            </td>
                                        </tr>
                                        \{/foreach\}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
</body>

</html>
