<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\}
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\}
        \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content-header">
                <h1>場域詳細資料</h1>
                <ol class="breadcrumb">
                    <li><a href="../controller/projectController.php?action=viewProjectDetail&projectId=\{$field.project_id\}"><i class="fa fa-arrow-right"></i>回到專案詳細資料</a></li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\} \{if $msg != ''\}
                        <div class="alert alert-success alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$msg\}</h4>
                        </div>
                        \{/if\}
                        <div class="box box-info">
                            <div class="box-header">
                                <h3 class="box-title">
                                    場域編號:&nbsp;&nbsp;\{$field.field_map_id\}
                                    <a href="../controller/fieldController.php?action=viewEditForm&fieldId=\{$field.field_map_id\}&projectId=\{$project.project_id\}">&nbsp;
                                        <button class="btn btn-sm btn-success"><i class="glyphicon glyphicon-pencil"></i></button>
                                    </a>
                                </h3>
                            </div>
                            <div class="box-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr style="background-color: #00c0ef;color: #fff;">
                                            <th class="col-md-2">欄位</th>
                                            <th>資料</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>名稱</td>
                                            <td>\{$field.name\}</td>
                                        </tr>
                                        <tr>
                                            <td>英文名稱</td>
                                            <td>\{$field.name_en\}</td>
                                        </tr>
                                        <tr>
                                            <td>簡介</td>
                                            <td>\{$field.introduction\}</td>
                                        </tr>
                                        <tr>
                                            <td>場域圖片(平板)</td>
                                            <td>
                                                <img src="\{$field.photo\}" class="img-thumbnail">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>場域圖片(App)</td>
                                            <td>
                                                <img src="\{$field.photo_vertical\}" class="img-thumbnail">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>場域地圖</td>
                                            <td>
                                                <img src="\{$field.map_svg\}" class="img-thumbnail">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>場域地圖(英文)</td>
                                            <td>
                                                <img src="\{$field.map_svg_en\}" class="img-thumbnail">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>場域地圖背景</td>
                                            <td>
                                                <img src="\{$field.map_bg\}" class="img-thumbnail">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>建立時間</td>
                                            <td>\{$field.create_date\}</td>
                                        </tr>
                                        <tr>
                                            <td>最近編輯</td>
                                            <td>
                                                \{$field.lastupdate_date\}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="box box-info">
                            <div class="box-header">
                                <h3 class="box-title">
                                區域列表&nbsp;&nbsp;<a href="../controller/zoneController.php?action=viewAddForm&fieldId=\{$field.field_map_id\}" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
                                </h3>
                            </div>
                            <div class="box-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr style="background-color: #00c0ef;color: #fff;">
                                            <th class="col-xs-1">區域ID</th>
                                            <th class="col-xs-1">區域名稱</th>
                                            <th class="col-xs-1">英文名稱</th>
                                            <th class="col-xs-5">區域介紹</th>
                                            <th class="col-xs-1">建立時間</th>
                                            <th class="col-xs-1">最近編輯</th>
                                            <th class="col-xs-2">操作選項</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        \{foreach from=$zone item='item'\}
                                        <tr>
                                            <td>\{$item.zone_id\}</td>
                                            <td>\{$item.name\}</td>
                                            <td>\{$item.name_en\}</td>
                                            <td>\{$item.introduction\}</td>
                                            <td>\{$item.create_date\}</td>
                                            <td>\{$item.lastupdate_date\}</td>
                                            <td>
                                                <a href="../controller/zoneController.php?action=viewZoneDetail&zoneId=\{$item.zone_id\}">
                                                    <button class="btn btn-sm btn-info"><i class="glyphicon glyphicon-search"></i></button>
                                                </a>&nbsp;
                                                <a href="../controller/zoneController.php?action=viewEditForm&fieldId=\{$field.field_map_id\}&zoneId=\{$item.zone_id\}">
                                                    <button class="btn btn-sm btn-success"><i class="glyphicon glyphicon-pencil"></i></button>
                                                </a>&nbsp;
                                                <a href="#">
                                                    <button class="btn btn-sm btn-danger" onclick="deleteZone(\{$field.field_map_id\},\{$item.zone_id\});"><i class="glyphicon glyphicon-remove"></i></button>
                                                </a>
                                            </td>
                                        </tr>
                                        \{/foreach\}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- beacon list -->
                        <div class="box box-info">
                            <div class="box-header">
                                <h3 class="box-title">Beacon列表&nbsp;&nbsp;<a href="../controller/fieldController.php?action=viewBeaconAddForm&fieldId=\{$field.field_map_id\}" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
                                </h3>
                            </div>
                            <div class="box-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr style="background-color: #00c0ef;color: #fff;">
                                            <th>ID</th>
                                            <th>Beacon Mac</th>
                                            <th>名稱</th>
                                            <th>電量</th>
                                            <th>隸屬分區編號</th>
                                            <th>紀錄佈建狀態</th>
                                            <th>X座標</th>
                                            <th>Y座標</th>
                                            <th>註冊時間</th>
                                            <th>最後更新</th>
                                            <th class="col-xs-1">操作選項</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        \{foreach from=$beaconData item=beacon\}
                                        <tr>
                                            <td>\{$beacon.beacon_id\}</td>
                                            <td>\{$beacon.mac_addr\}</td>
                                            <td>\{$beacon.name\}</td>
                                            <td>\{$beacon.power\}</td>
                                            <td>\{$beacon.zone_name\}</td>
                                            \{if $beacon.status == 0\}
                                            <td>預設</td>
                                            \{elseif $beacon.status == 1\}
                                            <td>未佈置</td>
                                            \{elseif $beacon.status == 2\}
                                            <td>待確認</td>
                                            \{elseif $beacon.status == 3\}
                                            <td>已確認</td>
                                            \{/if\}
                                            <td>\{$beacon.x\}</td>
                                            <td>\{$beacon.y\}</td>
                                            <td>\{$beacon.create_date\}</td>
                                            <td>\{$beacon.lastupdate_date\}</td>
                                            <td>
                                                <a href="../controller/fieldController.php?action=viewBeaconEditForm&beaconId=\{$beacon.beacon_id\}&fieldId=\{$field.field_map_id\}">
                                                    <button class="btn btn-sm btn-success"><i class="glyphicon glyphicon-pencil"></i></button>
                                                </a>&nbsp;
                                                <a href="#">
                                                    <button class="btn btn-sm btn-danger" onclick="deleteBeacon(\{$field.field_map_id\},\{$beacon.beacon_id\});"><i class="glyphicon glyphicon-remove"></i></button>
                                                </a>
                                            </td>
                                        </tr>
                                        \{/foreach\}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
    <script src="../javascript/fieldDetail.js"></script>
</body>

</html>
