<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\}
    </script>
    <!-- CK Editor -->
    <script type="text/javascript" src="../plugins/ckeditor/ckeditor.js"></script>
    <script>
    $(function() {
        // Replace the <textarea id="courseEditor"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('courseEditor');
    });
    </script>
</head>

<body class="hold-transition skin-yellow sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\} \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content-header">
                <h1>課程資訊</h1>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-md-10">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\}
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">新增課程</h3>
                            </div>
                            <!-- form-->
                            <form class="form-horizontal" method="post" enctype="multipart/form-data" action="../controller/courseController.php">
                                <div class="box-body">
                                    <div id="courseNameDiv" class="form-group">
                                        <label for="courseName" class="col-sm-2 control-label">課程標題</label>
                                        <div class="col-sm-10">
                                            <input id="courseName" name="courseName" class="form-control" placeholder="輸入課程標題"required>
                                        </div>
                                    </div>
                                    <div id="courseEditorDiv" class="form-group">
                                        <label for="courseEditor" class="col-sm-2 control-label">課程內容</label>
                                        <div class="col-sm-10">
                                            <textarea id="courseEditor" name="courseEditor" rows="10" cols="80">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer" style="text-align: right;">
                                    <a href="../controller/courseController.php?action=courseAddPrepare" class="btn btn-warning">取消</a>
                                    <input type="hidden" name="action" value="courseAdd">
                                    <button type="submit" class="btn btn-success">確定</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
</body>

</html>