<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\}
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\}
        \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content-header">
                <h1></h1>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-6">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\}
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">編輯專案</h3>
                            </div>
                            <form class="form-horizontal" method="post" action="../controller/projectController.php" onsubmit="return formValidation();">
                                <div class="box-body">
                                    <div id="projectNameDiv" class="form-group">
                                        <label for="projectName" class="col-sm-2 control-label">專案名稱</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="projectName" name="projectName" placeholder="輸入專案名稱" value="\{$project.name\}">
                                        </div>
                                    </div>
                                    <div id="projectIntroductionDiv" class="form-group">
                                        <label for="projectIntroduction" class="col-sm-2 control-label">專案介紹</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="projectIntroduction" name="projectIntroduction" placeholder="輸入專案介紹" value="\{$project.introduction\}">
                                        </div>
                                    </div>
                                    <div id="projectVersionDiv" class="form-group">
                                        <label for="projectVersion" class="col-sm-2 control-label">版本編號</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="projectVersion" name="projectVersion" placeholder="版本編號(ex: 1.0)" value="\{$project.version\}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="projectActive" class="col-sm-2 control-label">專案狀態</label>
                                        <div class="col-sm-10">
                                            \{if $project.active == 1\}
                                            <input type="checkbox" id="isActive" name="projectActive" checked>
                                            <span id="activeStat" class="text-success"> (專案已開啟)</span>
                                            \{else\}
                                            <input type="checkbox" id="isActive" name="projectActive">
                                            <span id="activeStat" class="text-danger"> (專案已關閉)</span>
                                            \{/if\}
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer" style="text-align: right;">
                                    <a href="../controller/projectController.php?action=viewProjectList" class="btn btn-warning">取消</a>
                                    <input type="hidden" name="action" value="updateProject">
                                    <input type="hidden" name="projectId" value="\{$project.project_id\}">
                                    <button type="submit" class="btn btn-primary">確定</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
    <script src="../javascript/projectEdit.js"></script>
</body>

</html>
