<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\}
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\}
        \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content-header">
                <h1>裝置詳細資料</h1>
                <ol class="breadcrumb">
                    <li><a href="../controller/modeController.php?action=detailMode&modeID=\{$deviceData.mode_id\}"><i class="fa fa-arrow-right"></i>回到展項詳細資料</a></li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\}
                        \{if $msg != ''\}
                        <div class="alert alert-success alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$msg\}</h4>
                        </div>
                        \{/if\}
                        <div class="box box-info" >
                            <div class="box-header with-border">
                                <h3 class="box-title">裝置編號:&nbsp;&nbsp;\{$deviceData.device_id\}</h3>&nbsp;&nbsp; 
                                <a href="../controller/deviceController.php?action=editDeviceForm&deviceID=\{$deviceData.device_id\}">
                                    <button class="btn btn-sm btn-success"><i class="glyphicon glyphicon-pencil"></i></button>
                                </a>
                            </div>
                            <div class="box-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr style="background-color: #00c0ef;color: #fff;">
                                            <th class="col-md-1">屬性</th>
                                            <th>設定值</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>名稱</td>
                                            <td>\{$deviceData.name\}</td>
                                        </tr>
                                        <tr>
                                            <td>英文名稱</td>
                                            <td>\{$deviceData.name_en\}</td>
                                        </tr>
                                        <tr>
                                            <td>簡介</td>
                                            <td>\{$deviceData.introduction\}</td>
                                        </tr>
                                        <tr>
                                            <td>裝置提示</td>
                                            <td>\{$deviceData.hint\}</td>
                                        </tr>
                                        <tr>
                                            <td>隸屬展項</td>
                                            <td>\{$deviceData.mode_id\}&nbsp;&nbsp;\{$modeData.name\}</td>
                                        </tr>
                                        <tr>
                                            <td>導覽語音</td>
                                            <td><audio controls src="\{$deviceData.guide_voice\}" ></td>
                                        </tr>
                                        <tr>
                                            <td>英文導覽語音</td>
                                            <td><audio controls src="\{$deviceData.guide_voice_en\}" ></td>
                                        </tr>
                                        <tr>
                                            <td>裝置圖片</td>
                                            <td><img src="\{$deviceData.photo\}" alt="裝置圖片"class="img-thumbnail" class="img-thumbnail"></td>
                                        </tr>
                                        <tr>
                                            <td>直式裝置圖片</td>
                                            <td><img src="\{$deviceData.photo_vertical\}" alt="直式裝置圖片" class="img-thumbnail"></td>
                                        </tr> 
                                        <tr>
                                            <td>建立時間</td>
                                            <td>\{$deviceData.create_date\}</td>
                                        </tr>
                                        <tr>
                                            <td>最近編輯</td>
                                            <td>\{$deviceData.lastupdate_date\}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">提供公司編號:&nbsp;&nbsp;\{$companyData.company_id\}</h3>
                            </div>
                            <div class="box-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr style="background-color: #00c0ef;color: #fff;">
                                            <th class="col-md-1">屬性</th>
                                            <th>設定值</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>名稱</td>
                                            <td>\{$companyData.name\}</td>
                                        </tr>
                                        <tr>
                                            <td>英文名稱</td>
                                            <td>\{$companyData.name_en\}</td>
                                        </tr>
                                        <tr>
                                            <td>電話</td>
                                            <td>\{$companyData.tel\}</td>
                                        </tr>
                                        <tr>
                                            <td>傳真 </td>
                                            <td>\{$companyData.fax\}</td>
                                        </tr>
                                        <tr>
                                            <td>地址</td>
                                            <td>\{$companyData.addr\}</td>
                                        </tr>
                                        <tr>
                                            <td>網頁</td>
                                            <td>\{$companyData.web\}</td>
                                        </tr>
                                         <tr>
                                            <td>QRcode</td>
                                            <td><img src="\{$companyData.qrcode\}"/></td>
                                        </tr>
                                        <tr>
                                            <td>建立時間</td>
                                            <td>\{$companyData.create_date\}</td>
                                        </tr>
                                        <tr>
                                            <td>最近編輯</td>
                                            <td>\{$companyData.lastupdate_date\}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
</body>

</html>
