<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\}
    <script type="text/javascript" src="../javascript/deviceEdit.js"></script>
    <script type="text/javascript" src="../plugins/bootstrap-filestyle/src/bootstrap-filestyle.min.js"></script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\}
        \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content-header">
                <h1>修改裝置</h1>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-md-8">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\}
                        \{if $msg != ''\}
                        <div class="alert alert-success alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$msg\}</h4>
                        </div>
                        \{/if\}
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">裝置編號:&nbsp;&nbsp;\{$deviceData.device_id\}</h3>
                            </div>
                            <form class="form-horizontal" enctype="multipart/form-data" method="post" action="../controller/deviceController.php" onsubmit="return formValidation();">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">名稱</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="deviceName" name="deviceName" value="\{$deviceData.name\}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">英文名稱</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="deviceNameEn" name="deviceNameEn" value="\{$deviceData.name_en\}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">簡介</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="deviceIntroduction" name="deviceIntroduction" value="\{$deviceData.introduction\}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">裝置提示</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="deviceHint" name="deviceHint" value="\{$deviceData.hint\}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">導覽語音</label>
                                        <div class="col-sm-10">
                                            <input type="file" id="deviceGuideVoice" name="deviceGuideVoice" data-input="false" accept="audio/*">
                                            <audio controls id="deviceGuideVoiceAudio" src="\{$deviceData.guide_voice\}">
                                            </audio>    
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">英文導覽語音</label>
                                        <div class="col-sm-10">
                                            <input type="file" id="deviceGuideVoiceEn" name="deviceGuideVoiceEn" data-input="false" accept="audio/*">
                                            <audio controls id="deviceGuideVoiceEnAudio" src="\{$deviceData.guide_voice_en\}">
                                            </audio>    
                                        </div>
                                    </div>
                                    <div id="devicePhotoDiv" class="form-group">
                                        <label class="col-sm-2 control-label">裝置圖片</label>
                                        <div class="col-sm-10">
                                            <input type="file" id="devicePhoto" name="devicePhoto" data-input="false">
                                            <img src="\{$deviceData.photo\}" id="devicePhotoImg" class="img-thumbnail" alt="尚未設定裝置圖片"/>
                                        </div>
                                    </div>
                                    <div  class="form-group">
                                        <label class="col-sm-2 control-label">直式裝置圖片</label>
                                        <div class="col-sm-10">
                                            <input type="file" id="devicePhotoVertical" name="devicePhotoVertical">
                                            <img src="\{$deviceData.photo_vertical\}" id="devicePhotoVerticalImg" class="img-thumbnail" alt="尚未設定直式裝置圖片">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">隸屬展項</label>
                                        <div class="col-sm-10">
                                            <select id="deviceMode" name="deviceMode" class="selectpicker col-sm-10">
                                            <option value=""></option>
                                            \{foreach from=$allModeData item='item3'\}
                                                \{if $item3.mode_id == $deviceData.mode_id\}
                                                    <option value="\{$item3.mode_id\}" selected> \{$item3.mode_id\}&nbsp;&nbsp;\{$item3.name\}</option>
                                                \{else\}
                                                    <option value="\{$item3.mode_id\}"> \{$item3.mode_id\}&nbsp;&nbsp;\{$item3.name\}</option>
                                                \{/if\}
                                            \{/foreach\}
                                        </select>
                                        </div>
                                    </div>                  
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">提供公司</label>
                                        <div class="col-sm-10">
                                            <select id="deviceCompany" name="deviceCompany" class="selectpicker col-sm-10">
                                            <option value=""></option>
                                            \{foreach from=$allCompanyData item='item2'\}
                                                \{if $item2.company_id == $deviceData.company_id\}
                                                    <option value="\{$item2.company_id\}" selected> \{$item2.company_id\}&nbsp;&nbsp;\{$item2.name\}</option>
                                                \{else\}
                                                    <option value="\{$item2.company_id\}"> \{$item2.company_id\}&nbsp;&nbsp;\{$item2.name\}</option>
                                                \{/if\}
                                            \{/foreach\}
                                        </select>
                                        </div>
                                    </div>                        
                                </div>
                                <div class="box-footer" style="text-align: right;">
                                    <a href="../controller/deviceController.php?action=detailDevice&deviceID=\{$deviceData.device_id\}" class="btn btn-warning" class="btn btn-warning">取消</a>
                                    <input type="hidden" name="deviceID" value="\{$deviceData.device_id\}">
                                    <input type="hidden" name="action" value="updateDevice">
                                    <button type="submit" class="btn btn-primary">確定</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
</body>


</html>
