@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* line 71, ../sass/screen.scss */

body {
    min-height: 100vh;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

/* line 80, ../sass/screen.scss */

footer {
    width: 100%;
    background-color: #f5ac51;
}

/* line 83, ../sass/screen.scss */

footer div {
    background-color: #333333;
}

/* line 88, ../sass/screen.scss */

nav {
    background-color: #333333;
}

/* line 93, ../sass/screen.scss */

.hr-1,
.hr-2 {
    border: 1px solid #ffffff;
}

/* line 97, ../sass/screen.scss */

.hr-2 {
    border-color: #333333;
    padding-top: 50px;
}

/* line 104, ../sass/screen.scss */

.dark-theme {
    background-color: #333333;
    color: #ffffff;
}

/* line 109, ../sass/screen.scss */

.index-content,
.content {
    flex: 1;
}

/* line 113, ../sass/screen.scss */

.content {
    margin-top: 61px;
}

/* line 119, ../sass/screen.scss */

.brand-col-1 {
    background-color: #59524a;
    height: 383px;
}

/* line 124, ../sass/screen.scss */

.brand-col-2 {
    background-color: #333333;
    height: 383px;
}

/* line 129, ../sass/screen.scss */

.brand-glasses {
    background-color: #d3bbc5;
}

/* line 134, ../sass/screen.scss */

.right-arrow {
    -webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    -moz-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    -ms-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}

/* line 138, ../sass/screen.scss */

.left-arrow {
    -webkit-clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    -moz-clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    -ms-clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}

/* line 143, ../sass/screen.scss */

.glasses-class-bar {
    width: 35%;
    height: 40px;
    background-color: #eeeeee;
    text-align: right;
    font-size: 20px;
    color: #000000;
    padding: 5px 10px;
}

/* line 153, ../sass/screen.scss */

.bg-light-white {
    background-color: #eeeeee;
}

/* line 157, ../sass/screen.scss */

.glasses-cell {
    border: 1px solid #ffffff;
}

/* line 162, ../sass/screen.scss */

#page {
    max-width: 1050px;
    min-width: 60vw;
    min-height: 100px;
    float: none;
    clear: both;
    overflow: hidden;
    color: #ffffff;
    position: relative;
    margin: 0 auto;
    padding-top: 45px;
}

/* line 173, ../sass/screen.scss */

#page .post {
    width: 100%;
    margin-bottom: 30px;
    float: left;
    background-color: #333333;
    padding: 20px;
    clear: both;
    border: 1px solid #cdcdcd;
}

/* line 181, ../sass/screen.scss */

#page .post .title {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 28px;
    clear: both;
}

/* line 187, ../sass/screen.scss */

#page .post .title a {
    color: #ffffff;
}

/* line 191, ../sass/screen.scss */

#page .post .featured-thumbnail {
    max-width: 250px;
    float: left;
    width: 100%;
    position: relative;
    margin-top: 5px;
}

/* line 198, ../sass/screen.scss */

#page .post #featured-thumbnail {
    float: left;
    max-width: 250px;
    width: 50%;
    margin-right: 25px;
}

/* line 204, ../sass/screen.scss */

#page .post .post-content {
    color: #ffffff;
    overflow: hidden;
}

/* line 208, ../sass/screen.scss */

#page .post .readMore {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

/* line 212, ../sass/screen.scss */

#page .post .readMore a {
    background-color: #f5ac51;
    color: #ffffff;
    padding: 5px 12px;
    transition: all 0.25s linear;
    font-family: sans-serif, "Monda";
}

/* line 218, ../sass/screen.scss */

#page .post .readMore a:hover {
    color: #ffffff;
    background: #ea141f;
}

/* line 228, ../sass/screen.scss */

.trapezoidal .trapezoidal-1,
.trapezoidal .trapezoidal-2,
.trapezoidal .trapezoidal-3 {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 602px;
}

/* line 235, ../sass/screen.scss */

.trapezoidal {
    height: 1000px;
}

/* line 237, ../sass/screen.scss */

.trapezoidal .trapezoidal-1 {
    float: left;
}

/* line 240, ../sass/screen.scss */

.trapezoidal .trapezoidal-1 .img-1 {
    width: 100%;
    height: 794px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 26%);
    -moz-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 26%);
    -ms-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 26%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 26%);
}

/* line 245, ../sass/screen.scss */

.trapezoidal .trapezoidal-1 .img-2 {
    width: 100%;
    height: 794px;
    margin-top: -602px;
    -webkit-clip-path: polygon(0% 0%, 100% 74%, 100% 100%, 0% 100%);
    -moz-clip-path: polygon(0% 0%, 100% 74%, 100% 100%, 0% 100%);
    -ms-clip-path: polygon(0% 0%, 100% 74%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 74%, 100% 100%, 0% 100%);
}

/* line 252, ../sass/screen.scss */

.trapezoidal .trapezoidal-2 {
    float: right;
}

/* line 255, ../sass/screen.scss */

.trapezoidal .trapezoidal-2 .img-1 {
    width: 100%;
    height: 794px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 26%, 0% 100%);
    -moz-clip-path: polygon(0% 0%, 100% 0%, 100% 26%, 0% 100%);
    -ms-clip-path: polygon(0% 0%, 100% 0%, 100% 26%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 26%, 0% 100%);
}

/* line 260, ../sass/screen.scss */

.trapezoidal .trapezoidal-2 .img-2 {
    width: 100%;
    height: 794px;
    margin-top: -602px;
    -webkit-clip-path: polygon(0% 74%, 100% 0%, 100% 100%, 0% 100%);
    -moz-clip-path: polygon(0% 74%, 100% 0%, 100% 100%, 0% 100%);
    -ms-clip-path: polygon(0% 74%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 74%, 100% 0%, 100% 100%, 0% 100%);
}

/* line 269, ../sass/screen.scss */

.trapezoidal .trapezoidal-3 img {
    height: 100%;
    width: 100%;
}

/* line 278, ../sass/screen.scss */

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.2);
}

/* line 282, ../sass/screen.scss */

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.6)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* line 288, ../sass/screen.scss */

.nav-link-text {
    height: 37px;
    overflow: hidden;
}

/* line 291, ../sass/screen.scss */

.nav-link-text span {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    display: block;
}

/* line 298, ../sass/screen.scss */

.nav-link-text .nav-span {
    margin-top: -30px;
    line-height: 28px;
    transition: 0.3s;
}

/* line 304, ../sass/screen.scss */

.nav-link-text:hover .nav-span {
    margin-top: 0px;
}

/* 首頁圖片輪播片 */

/* line 312, ../sass/screen.scss */

.carousel-item {
    height: 100vh;
    background-image: url("../img/cover.png");
    background: no-repeat center center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

/* line 319, ../sass/screen.scss */

.carousel-circle {
    max-width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    margin-right: 10px !important;
    margin-left: 10px !important;
    background-color: #f5ac51 !important;
}

/* line 328, ../sass/screen.scss */

.carousel-indicators .active {
    background-color: #ffff99 !important;
}

/* line 333, ../sass/screen.scss */

#go-top-btn {
    display: none;
    position: fixed;
    bottom: 20%;
    right: 2%;
    z-index: 99;
    border: none;
    outline: none;
    background: rgba(185, 15, 15, 0.6);
    color: #ffffff;
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding-top: 18px;
    width: 80px;
    height: 45px;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    -moz-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    -ms-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/* line 351, ../sass/screen.scss */

#go-top-btn:hover {
    background: #ea141f;
}

/* line 357, ../sass/screen.scss */

.gallery {
    height: 1920px;
    width: 95%;
}

/* line 362, ../sass/screen.scss */

.gallery-col-1 {
    height: 475px;
    width: 200px;
    margin-top: 320px;
    background-color: #59524a;
}

/* line 369, ../sass/screen.scss */

.gallery-col-2 {
    height: 460px;
    width: 200px;
    margin-top: 320px;
    background-color: #59524a;
}

/* line 376, ../sass/screen.scss */

.gallery-col-3 {
    height: 400px;
    width: 260px;
    margin-top: 20px;
    background-color: #59524a;
}

/* line 383, ../sass/screen.scss */

.gallery-col-4 {
    height: 240px;
    width: 250px;
    margin-top: 60px;
    background-color: #59524a;
}

@media only screen and (max-width: 1366px) {
    /* line 392, ../sass/screen.scss */
    .gallery {
        height: 768px;
        width: 80%;
    }
    /* line 396, ../sass/screen.scss */
    .gallery-col-1 {
        height: 190px;
        width: 80px;
        margin-top: 128px;
    }
    /* line 401, ../sass/screen.scss */
    .gallery-col-2 {
        height: 184px;
        width: 80px;
        margin-top: 128px;
    }
    /* line 406, ../sass/screen.scss */
    .gallery-col-3 {
        height: 160px;
        width: 104px;
        margin-top: 8px;
    }
    /* line 411, ../sass/screen.scss */
    .gallery-col-4 {
        height: 96px;
        width: 100px;
        margin-top: 24px;
    }
    /* line 416, ../sass/screen.scss */
    .trapezoidal {
        height: 400px;
    }
    /* line 418, ../sass/screen.scss */
    .trapezoidal .trapezoidal-1 {
        width: 240.8px;
    }
    /* line 420, ../sass/screen.scss */
    .trapezoidal .trapezoidal-1 .img-1 {
        height: 317.6px;
    }
    /* line 423, ../sass/screen.scss */
    .trapezoidal .trapezoidal-1 .img-2 {
        height: 317.6px;
        margin-top: -240.8px;
    }
    /* line 428, ../sass/screen.scss */
    .trapezoidal .trapezoidal-2 {
        width: 240.8px;
    }
    /* line 430, ../sass/screen.scss */
    .trapezoidal .trapezoidal-2 .img-1 {
        height: 317.6px;
    }
    /* line 433, ../sass/screen.scss */
    .trapezoidal .trapezoidal-2 .img-2 {
        height: 317.6px;
        margin-top: -240.8px;
    }
    /* line 438, ../sass/screen.scss */
    .trapezoidal .trapezoidal-3 {
        width: 240.8px;
    }
}

@media only screen and (max-width: 960px) {
    /* line 446, ../sass/screen.scss */
    .gallery {
        height: 672px;
        width: 80%;
    }
    /* line 450, ../sass/screen.scss */
    .gallery-col-1 {
        height: 166.25px;
        width: 70px;
        margin-top: 112px;
    }
    /* line 455, ../sass/screen.scss */
    .gallery-col-2 {
        height: 161px;
        width: 70px;
        margin-top: 112px;
    }
    /* line 460, ../sass/screen.scss */
    .gallery-col-3 {
        height: 140px;
        width: 91px;
        margin-top: 7px;
    }
    /* line 465, ../sass/screen.scss */
    .gallery-col-4 {
        height: 84px;
        width: 87.5px;
        margin-top: 21px;
    }
    /* line 470, ../sass/screen.scss */
    .trapezoidal {
        height: 400px;
    }
    /* line 472, ../sass/screen.scss */
    .trapezoidal .trapezoidal-1 {
        width: 240.8px;
    }
    /* line 474, ../sass/screen.scss */
    .trapezoidal .trapezoidal-1 .img-1 {
        height: 317.6px;
    }
    /* line 477, ../sass/screen.scss */
    .trapezoidal .trapezoidal-1 .img-2 {
        height: 317.6px;
        margin-top: -240.8px;
    }
    /* line 482, ../sass/screen.scss */
    .trapezoidal .trapezoidal-2 {
        width: 240.8px;
    }
    /* line 484, ../sass/screen.scss */
    .trapezoidal .trapezoidal-2 .img-1 {
        height: 317.6px;
    }
    /* line 487, ../sass/screen.scss */
    .trapezoidal .trapezoidal-2 .img-2 {
        height: 317.6px;
        margin-top: -240.8px;
    }
    /* line 492, ../sass/screen.scss */
    .trapezoidal .trapezoidal-3 {
        width: 240.8px;
    }
}

@media only screen and (max-width: 760px) {
    /* line 500, ../sass/screen.scss */
    .gallery {
        height: 480px;
    }
    /* line 503, ../sass/screen.scss */
    .gallery-col-1 {
        height: 118.75px;
        width: 50px;
        margin-top: 80px;
    }
    /* line 508, ../sass/screen.scss */
    .gallery-col-2 {
        height: 115px;
        width: 50px;
        margin-top: 80px;
    }
    /* line 513, ../sass/screen.scss */
    .gallery-col-3 {
        height: 100px;
        width: 65px;
        margin-top: 5px;
    }
    /* line 518, ../sass/screen.scss */
    .gallery-col-4 {
        height: 60px;
        width: 62.5px;
        margin-top: 15px;
    }
    /* line 523, ../sass/screen.scss */
    .trapezoidal {
        height: 350px;
    }
    /* line 525, ../sass/screen.scss */
    .trapezoidal .trapezoidal-1 {
        width: 210.7px;
    }
    /* line 527, ../sass/screen.scss */
    .trapezoidal .trapezoidal-1 .img-1 {
        height: 277.9px;
    }
    /* line 530, ../sass/screen.scss */
    .trapezoidal .trapezoidal-1 .img-2 {
        height: 277.9px;
        margin-top: -210.7px;
    }
    /* line 535, ../sass/screen.scss */
    .trapezoidal .trapezoidal-2 {
        width: 210.7px;
    }
    /* line 537, ../sass/screen.scss */
    .trapezoidal .trapezoidal-2 .img-1 {
        height: 277.9px;
    }
    /* line 540, ../sass/screen.scss */
    .trapezoidal .trapezoidal-2 .img-2 {
        height: 277.9px;
        margin-top: -210.7px;
    }
    /* line 545, ../sass/screen.scss */
    .trapezoidal .trapezoidal-3 {
        width: 210.7px;
    }
}

@media only screen and (max-width: 480px) {
    /* line 553, ../sass/screen.scss */
    .gallery {
        height: 288px;
    }
    /* line 556, ../sass/screen.scss */
    .gallery-col-1 {
        height: 71.25px;
        width: 30px;
        margin-top: 48px;
    }
    /* line 561, ../sass/screen.scss */
    .gallery-col-2 {
        height: 69px;
        width: 30px;
        margin-top: 48px;
    }
    /* line 566, ../sass/screen.scss */
    .gallery-col-3 {
        height: 60px;
        width: 39px;
        margin-top: 3px;
    }
    /* line 571, ../sass/screen.scss */
    .gallery-col-4 {
        height: 36px;
        width: 37.5px;
        margin-top: 9px;
    }
    /* line 576, ../sass/screen.scss */
    .trapezoidal {
        height: 200px;
    }
    /* line 578, ../sass/screen.scss */
    .trapezoidal .trapezoidal-1 {
        width: 120.4px;
    }
    /* line 580, ../sass/screen.scss */
    .trapezoidal .trapezoidal-1 .img-1 {
        height: 158.8px;
    }
    /* line 583, ../sass/screen.scss */
    .trapezoidal .trapezoidal-1 .img-2 {
        height: 158.8px;
        margin-top: -120.4px;
    }
    /* line 588, ../sass/screen.scss */
    .trapezoidal .trapezoidal-2 {
        width: 120.4px;
    }
    /* line 590, ../sass/screen.scss */
    .trapezoidal .trapezoidal-2 .img-1 {
        height: 158.8px;
    }
    /* line 593, ../sass/screen.scss */
    .trapezoidal .trapezoidal-2 .img-2 {
        height: 158.8px;
        margin-top: -120.4px;
    }
    /* line 598, ../sass/screen.scss */
    .trapezoidal .trapezoidal-3 {
        width: 120.4px;
    }
    /* line 602, ../sass/screen.scss */
    #go-top-btn {
        width: 50px;
        height: 30px;
        font-size: 8px;
        padding-top: 12px;
    }
}