<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\}
    <script>
    function deleteStyle(styleId,imageId){
        BootstrapDialog.show({
            title:'提醒',
            message: '確定刪除風格嗎?可能會造成部分眼鏡沒有風格分類',
            buttons: [{
                label: '確定',
                cssClass: 'btn-danger',
                action: function(){
                    location='../controller/styleController.php?action=styleDelete&styleId='+ styleId + '&imageId=' + imageId ;
                }
            },{
                label: '取消',
                action: function(dialogItself){
                    dialogItself.close();
                }
            }]
        });
    }

    function deleteStyle(styleId){
        BootstrapDialog.show({
            title:'提醒',
            message: '確定刪除風格嗎?可能會造成部分眼鏡沒有風格分類',
            buttons: [{
                label: '確定',
                cssClass: 'btn-danger',
                action: function(){
                    location='../controller/styleController.php?action=styleDelete&styleId='+ styleId;
                }
            },{
                label: '取消',
                action: function(dialogItself){
                    dialogItself.close();
                }
            }]
        });
    }
    </script>
</head>

<body class="hold-transition skin-yellow sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\}
        \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content-header">
                <h1>風格檢視修改</h1>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-8">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\}
                        \{if $msg != ''\}
                        <div class="alert alert-success alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$msg\}</h4>
                        </div>
                        \{/if\}
                        <div class="box box-info">
                            <div class="box-header">
                                <h3 class="box-title">風格列表</h3>
                            </div>
                            <div class="box-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr style="background-color: #00c0ef; color: #fff;">
                                            <th>風格名稱</th>
                                            <th>使用圖片</th>
                                            <th>最後更新時間</th>
                                            <th>操作選項</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        \{foreach from=$allStyleData item=style\}
                                        <tr>
                                            <td>\{$style.styleName\}</td>
                                            <td><img src="\{$style.path\}" alt="尚未上傳圖片" width="350px"></td>
                                            <td>\{$style.lastUpdateTime\}</td>
                                            <td>
                                                <a href="../controller/styleController.php?action=styleEditPrepare&styleId=\{$style.styleId\}&imageId=\{$style.imageId\} ">
                                                    <button class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-pencil"></i></button>
                                                </a>&nbsp;
                                                \{if $style.imageId != ''\}
                                                <a href="#">
                                                    <button class="btn btn-sm btn-danger" onclick="deleteStyle('\{$style.styleId\}' , '\{$style.imageId\}');"><i class="glyphicon glyphicon-remove"></i></button>
                                                </a>
                                                \{else\}
                                                <a href="#">
                                                    <button class="btn btn-sm btn-danger" onclick="deleteStyle('\{$style.styleId\}');"><i class="glyphicon glyphicon-remove"></i></button>
                                                </a>
                                                \{/if\}
                                            </td>
                                        </tr>
                                        \{/foreach\}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
</body>

</html>
