<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\}
    <script type="text/javascript" src="../plugins/bootstrap-filestyle/src/bootstrap-filestyle.min.js"> </script>
    <script type="text/javascript" src="../plugins/bootstrap-toggle/js/bootstrap2-toggle.js"></script>
    <link rel="stylesheet" href="../plugins/bootstrap-toggle/css/bootstrap2-toggle.css"/>
    <script>
        var imgCount = 1;
        $('input[name="imgCount"]').val(imgCount);
        $(document).ready(function() {
            $('select[name=shape]').val('\{$frameData.shape\}');
            $('select[name=shape]').selectpicker('refresh');

            $("#frameImage1").filestyle({
                size: "nr",
                input: false,
                buttonText: "上傳圖片",
                buttonName: "btn-info",
                iconName: "glyphicon glyphicon-camera"
            });

            $("#frameImage1").change(function() {
                readURL(this, '#frameImg1');
            });

            var style = \{$frameStyleData|json_encode\};
            var frameStyle = new Array();
            for(i=0;i<style.length;i++)
               frameStyle.push(style[i][0]);

            $('select[id=frameStyle]').val(frameStyle);
            $('select[id=frameStyle]').selectpicker('refresh');
        });

        function readURL(input, id) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $(id).attr('src', e.target.result);
                    $(id).css('display', '');
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        function deleteImage(imageId){

            BootstrapDialog.show({
                title:'提醒',
                message: '確定刪除該鏡框圖片嗎?',
                buttons: [{
                    label: '確定',
                    cssClass: 'btn-danger',
                    action: function(dialogItself){
                        $.get('../controller/frameController.php?action=frameImageDelete&imageId=' + imageId, function(){});
                        $("#existed_"+ imageId).remove();
                        dialogItself.close();
                        //deal with id 
                    }
                },{
                    label: '取消',
                    action: function(dialogItself){
                        dialogItself.close();
                    }
                }]
            });
        }

        function addFrameImg(i){
            str = '<div id = "image' + i +'"><div class = "form-inline" style="display:inline-block;">';
            str += '<input type="file" id="frameImage' + i + '" name="frameImage' + i +'" data-input="false" accept="image/*">&nbsp';
            str += '<a class="btn btn-sm btn-danger" onclick="deleteFrameImg(' + i + ')"><i class="glyphicon glyphicon-remove"></i></a>';
            str += '</div>';
            str += '<img id="frameImg' + i +'" class="img-thumbnail" style="display:none"><br></div>'
                                            
            $("#addImgStart").after(str);

            $("#frameImage"+ i).filestyle({
                size: "nr",
                input: false,
                buttonText: "上傳圖片",
                buttonName: "btn-info",
                iconName: "glyphicon glyphicon-camera"
            });
           
            $("#frameImage"+ i).change(function() {
                readURL(this, "#frameImg"+ i);
            });

            $('input[name="imgCount"]').val(imgCount);
        }

        function deleteFrameImg(i){
            $("#image"+i).remove();
        }
    </script>
</head>

<body class="hold-transition skin-yellow sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\}
        \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content-header">
                <h1>鏡框檢視修改</h1>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-md-10">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\}
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">鏡框修改</h3>
                            </div>
                            <form class="form-horizontal" method="post"  enctype="multipart/form-data" action="../controller/frameController.php" >
                                <div class="box-body">
                                    <div id="frameNameDiv" class="form-group">
                                        <label for="frameName" class="col-sm-2 control-label">鏡框名稱</label>
                                        <div class="col-sm-6">
                                            <input id="frameName" name="frameName" class="form-control" placeholder="輸入鏡框名稱"  value="\{$frameData.frameName\}">
                                        </div>
                                    </div>
                                    <div id="noDiv" class="form-group">
                                        <label for="no" class="col-sm-2 control-label">鏡框型號</label>
                                        <div class="col-sm-6">
                                            <input id="no" name="no" class="form-control" placeholder="輸入鏡框型號" value="\{$frameData.no\}">
                                        </div>
                                    </div>
                                    <div id="frameBrandDiv" class="form-group">
                                        <label for="frameBrand" class="col-sm-2 control-label">鏡框品牌</label>
                                        <div class="col-sm-6">
                                            <select class="selectpicker" name="frameBrand" id="frameBrand">
                                                \{foreach from=$brandData item=brand \}
                                                    \{if $frameData.brandId == $brand.brandId\}
                                                        <option value='\{$brand.brandId\}' selected>\{$brand.brandName\}</option>
                                                    \{else\}
                                                        <option value='\{$brand.brandId\}'>\{$brand.brandName\}</option>
                                                    \{/if\}
                                                \{/foreach\}
                                            </select>
                                        </div>
                                    </div>
                                    <div id="shapeDiv" class="form-group">
                                        <label for="shape" class="col-sm-2 control-label">鏡框框形</label>
                                        <div class="col-sm-6">
                                            <select class="selectpicker" name="shape" id="shape">
                                                <option value=1>圓</option>
                                                <option value=2>方</option>
                                                <option value=3>全</option>
                                                <option value=4>半</option>
                                                <option value=5>無</option>
                                                <option value=6>混和</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div id="materialDiv" class="form-group">
                                        <label for="material" class="col-sm-2 control-label">鏡框材質</label>
                                        <div class="col-sm-6">
                                            <input id="material" name="material" class="form-control" placeholder="輸入鏡框材質" value="\{$frameData.material\}">
                                        </div>
                                    </div>
                                    <div id="colorDiv" class="form-group">
                                        <label for="color" class="col-sm-2 control-label">鏡框顏色</label>
                                        <div class="col-sm-6">
                                            <input id="color" name="color" class="form-control" placeholder="輸入鏡框名稱" value="\{$frameData.color\}">
                                        </div>
                                    </div>
                                    <div id="priceDiv" class="form-group">
                                        <label for="price" class="col-sm-2 control-label">價格</label>
                                        <div class="col-sm-6">
                                            <input id="price" type="number" min=0 name="price" class="form-control" placeholder="輸入價格" value="\{$frameData.price\}">
                                        </div>
                                    </div>
                                    <div id="discountPriceDiv" class="form-group">
                                        <label for="discountPrice" class="col-sm-2 control-label">會員價</label>
                                        <div class="col-sm-6">
                                            <input id="discountPrice" type="number" min=0 name="discountPrice" class="form-control" placeholder="輸入會員價" value="\{$frameData.discountPrice\}">
                                        </div>
                                    </div>
                                    <div id="frameStyleDiv" class="form-group">
                                        <label for="frameStyle" class="col-sm-2 control-label">鏡框所屬風格</label>
                                        <div class="col-sm-6">
                                            <select class="selectpicker" name="frameStyle[]" id="frameStyle" multiple title="請選擇風格(多選)">
                                                \{foreach from=$styleData item=style\}
                                                <option value='\{$style.styleId\}'>\{$style.styleName\}</option>
                                                \{/foreach\}
                                            </select>
                                        </div>
                                    </div>
                                    <div id="frameImageDiv" class="form-group">
                                        <label class="col-sm-2 control-label">鏡框圖片</label>
                                        <div class="col-sm-10">
                                            <div class = "form-inline" style="display:inline-block;">
                                                <input type="file" id="frameImage1" name="frameImage1" data-input="false" accept="image/*">
                                                <a class="btn btn-sm btn-primary" onclick="addFrameImg(++imgCount)"><i class="glyphicon glyphicon-plus"></i></a>
                                            </div>
                                            <img id="frameImg1" class="img-thumbnail" style="display:none"><br>
                                            <div id="addImgStart" name="addImgStart"></div>
                                            <br>
                                            \{foreach from=$imageData item=image\}
                                            <div id="existed_\{$image.imageId\}">
                                                <a class="btn btn-sm btn-danger" onclick="deleteImage('\{$image.imageId\}')"><i class="glyphicon glyphicon-remove"></i></a> 
                                                <img id="\{$image.imageId\}" class="img-thumbnail" src="\{$image.path\}" alt="尚未上傳圖片">
                                            </div>
                                            \{/foreach\}
                                        </div>
                                    </div>
                                    <div id="isLaunchDiv" class="form-group">
                                        <label for="isLaunch" class="col-sm-2 control-label">上架到網路上</label>
                                        \{if $frameData.isLaunch == 1\}
                                        &nbsp&nbsp&nbsp&nbsp&nbsp<input type="checkbox" checked data-toggle="toggle" data-size="mini" name="isLaunch" value=1>
                                        \{else \}
                                        &nbsp&nbsp&nbsp&nbsp&nbsp<input type="checkbox" data-toggle="toggle" data-size="mini" name="isLaunch" value=1>
                                        \{/if\}
                                    </div>
                                    <div id="isPrimaryDiv" class="form-group">
                                        <label for="isPrimary" class="col-sm-2 control-label">主打商品</label>
                                        \{if $frameData.isPrimary == 1\}
                                        &nbsp&nbsp&nbsp&nbsp&nbsp<input type="checkbox" checked data-toggle="toggle" data-size="mini" name="isPrimary" value=1>
                                        \{else \}
                                        &nbsp&nbsp&nbsp&nbsp&nbsp<input type="checkbox" data-toggle="toggle" data-size="mini" name="isPrimary" value=1>
                                        \{/if\}
                                    </div>
                                </div>
                                <div class="box-footer" style="text-align: right;">
                                    <a href="../controller/frameController.php?action=frameList" class="btn btn-warning">取消</a>
                                    <input type="hidden" name="action" value="frameEdit">
                                    <input type="hidden" name="imgCount">
                                    <input type="hidden" name="frameId" value="\{$frameData.frameId\}"> 
                                    <button type="submit" class="btn btn-success">更新</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
</body>

</html>