<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\}
    <script type="text/javascript" src="../plugins/bootstrap-filestyle/src/bootstrap-filestyle.min.js"></script>
    <script type="text/javascript" src="../plugins/froalaEditor/js/froala_editor.min.js"></script>
    <script type="text/javascript" src="../plugins/froalaEditor/js/plugins/align.min.js"></script>
    <script type="text/javascript" src="../plugins/froalaEditor/js/plugins/char_counter.min.js"></script>
    <script type="text/javascript" src="../plugins/froalaEditor/js/plugins/code_beautifier.min.js"></script>
    <script type="text/javascript" src="../plugins/froalaEditor/js/plugins/code_view.min.js"></script>
    <script type="text/javascript" src="../plugins/froalaEditor/js/plugins/colors.min.js"></script>
    <script type="text/javascript" src="../plugins/froalaEditor/js/plugins/draggable.min.js"></script>
    <script type="text/javascript" src="../plugins/froalaEditor/js/plugins/emoticons.min.js"></script>
    <script type="text/javascript" src="../plugins/froalaEditor/js/plugins/entities.min.js"></script>
    <script type="text/javascript" src="../plugins/froalaEditor/js/plugins/file.min.js"></script>
    <script type="text/javascript" src="../plugins/froalaEditor/js/plugins/font_size.min.js"></script>
    <script type="text/javascript" src="../plugins/froalaEditor/js/plugins/font_family.min.js"></script>
    <script type="text/javascript" src="../plugins/froalaEditor/js/plugins/fullscreen.min.js"></script>
    <script type="text/javascript" src="../plugins/froalaEditor/js/plugins/image.min.js"></script>
    <script type="text/javascript" src="../plugins/froalaEditor/js/plugins/image_manager.min.js"></script>
    <script type="text/javascript" src="../plugins/froalaEditor/js/plugins/line_breaker.min.js"></script>
    <script type="text/javascript" src="../plugins/froalaEditor/js/plugins/inline_style.min.js"></script>
    <script type="text/javascript" src="../plugins/froalaEditor/js/plugins/link.min.js"></script>
    <script type="text/javascript" src="../plugins/froalaEditor/js/plugins/lists.min.js"></script>
    <script type="text/javascript" src="../plugins/froalaEditor/js/plugins/paragraph_format.min.js"></script>
    <script type="text/javascript" src="../plugins/froalaEditor/js/plugins/paragraph_style.min.js"></script>
    <script type="text/javascript" src="../plugins/froalaEditor/js/plugins/quick_insert.min.js"></script>
    <script type="text/javascript" src="../plugins/froalaEditor/js/plugins/quote.min.js"></script>
    <script type="text/javascript" src="../plugins/froalaEditor/js/plugins/table.min.js"></script>
    <script type="text/javascript" src="../plugins/froalaEditor/js/plugins/save.min.js"></script>
    <script type="text/javascript" src="../plugins/froalaEditor/js/plugins/url.min.js"></script>
    <script type="text/javascript" src="../plugins/froalaEditor/js/plugins/video.min.js"></script>
    <link rel="stylesheet" href="../plugins/froalaEditor/css/froala_editor.css">
    <link rel="stylesheet" href="../plugins/froalaEditor/css/froala_style.css">
    <link rel="stylesheet" href="../plugins/froalaEditor/css/plugins/code_view.css">
    <link rel="stylesheet" href="../plugins/froalaEditor/css/plugins/colors.css">
    <link rel="stylesheet" href="../plugins/froalaEditor/css/plugins/emoticons.css">
    <link rel="stylesheet" href="../plugins/froalaEditor/css/plugins/image_manager.css">
    <link rel="stylesheet" href="../plugins/froalaEditor/css/plugins/image.css">
    <link rel="stylesheet" href="../plugins/froalaEditor/css/plugins/line_breaker.css">
    <link rel="stylesheet" href="../plugins/froalaEditor/css/plugins/table.css">
    <link rel="stylesheet" href="../plugins/froalaEditor/css/plugins/char_counter.css">
    <link rel="stylesheet" href="../plugins/froalaEditor/css/plugins/video.css">
    <link rel="stylesheet" href="../plugins/froalaEditor/css/plugins/fullscreen.css">
    <link rel="stylesheet" href="../plugins/froalaEditor/css/plugins/file.css">
    <link rel="stylesheet" href="../plugins/froalaEditor/css/plugins/quick_insert.css">
    <!-- Initialize the editor. -->
    <script>
    $(function() {
        $('textarea#educationEditor').froalaEditor({
            height:300
        })
        $('textarea#educationEditor').froalaEditor()
            .on('froalaEditor.image.beforeUpload', function(e, editor, files) {
                if (files.length) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        var result = e.target.result;

                        editor.image.insert(result, null, null, editor.image.get());
                    };

                    reader.readAsDataURL(files[0]);
                }

                return false;
            })
    });
    </script>
</head>

<body class="hold-transition skin-yellow sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\} \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content-header">
                <h1>衛教文章</h1>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-md-10">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\}
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">新增文章</h3>
                            </div>
                            <!-- form-->
                            <form class="form-horizontal" method="post" enctype="multipart/form-data" action="../controller/educationController.php">
                                <div class="box-body">
                                    <div id="educationTitleDiv" class="form-group">
                                        <label for="educationTitle" class="col-sm-2 control-label">標題</label>
                                        <div class="col-sm-10">
                                            <input id="educationTitle" name="educationTitle" class="form-control" placeholder="輸入文章標題">
                                        </div>
                                    </div>
                                    <div id="educationEditorDiv" class="form-group">
                                        <label for="educationEditor" class="col-sm-2 control-label">內容</label>
                                        <div class="col-sm-10">
                                            <textarea id="educationEditor" name="educationEditor">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer" style="text-align: right;">
                                    <a href="../controller/educationController.php?action=educationAddPrepare" class="btn btn-warning">取消</a>
                                    <input type="hidden" name="action" value="educationAdd">
                                    <button type="submit" class="btn btn-success">確定</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
</body>

</html>