<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\}
    <!-- DataTables -->
    <link rel="stylesheet" href="../plugins/datatables/dataTables.bootstrap.css">
    <script src="../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script>
    $(function() {
        $('#educationListTable').DataTable({
            "columnDefs": [
                { "orderable": false, "targets": 4 }
            ],
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });

    function deleteEducationWithImg(articleId,imageId){
        BootstrapDialog.show({
            title:'提醒',
            message: '確定刪除嗎? 文章刪除後將無法回復。',
            buttons: [{
                label: '確定',
                cssClass: 'btn-danger',
                action: function(){
                    location='../controller/educationController.php?action=educationDelete&educationId='+ articleId + '&imageId=' + imageId;
                }
            },{
                label: '取消',
                action: function(dialogItself){
                    dialogItself.close();
                }
            }]
        });
    }

    function deleteEducation(articleId) {
        BootstrapDialog.show({
            title: '提醒',
            message: '確定刪除嗎? 文章刪除後將無法回復。',
            buttons: [{
                label: '確定',
                cssClass: 'btn-danger',
                action: function() {
                    location = '../controller/educationController.php?action=educationDelete&educationId=' + articleId;
                }
            }, {
                label: '取消',
                action: function(dialogItself) {
                    dialogItself.close();
                }
            }]
        });
    }
    </script>
</head>

<body class="hold-transition skin-yellow sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\} \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content-header">
                <h1>衛教文章檢視修改</h1>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-8">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\} \{if $msg != ''\}
                        <div class="alert alert-success alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$msg\}</h4>
                        </div>
                        \{/if\}
                        <div class="box box-info">
                            <div class="box-header">
                                <h3 class="box-title">文章列表</h3>
                            </div>
                            <div class="box-body">
                                <table class="table table-striped" id="educationListTable">
                                    <thead>
                                        <tr style="background-color: #00c0ef; color: #fff;">
                                            <th>文章標題</th>
                                            <th>點擊次數</th>
                                            <th>預覽使用圖片</th>
                                            <th>建立時間</th>
                                            <th>最後更新時間</th>
                                            <th>操作選項</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        \{foreach from=$alleducationData item=article\}
                                        <tr>
                                            <td>\{$article.title\}</td>
                                            <td>\{$article.ctr\}</td>
                                            <td><img src="\{$article.path\}" alt="尚未上傳圖片" width="350px"></td>
                                            <td>\{$article.createTime\}</td>
                                            <td>\{$article.lastUpdateTime\}</td>
                                            <td>
                                                <a href="../controller/educationController.php?action=educationEditPrepare&educationId=\{$article.articleId\}">
                                                    <button class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-pencil"></i></button>
                                                </a>&nbsp; 
                                                \{if $article.imageId != ''\}
                                                <a href="#">
                                                    <button class="btn btn-sm btn-danger" onclick="deleteEducationWithImg('\{$article.articleId\}' , '\{$article.imageId\}');"><i class="glyphicon glyphicon-remove"></i></button>
                                                </a>&nbsp;
                                                \{else\}
                                                <a href="#">
                                                    <button class="btn btn-sm btn-danger" onclick="deleteEducation('\{$article.articleId\}');"><i class="glyphicon glyphicon-remove"></i></button>
                                                </a>
                                                \{/if\}
                                            </td>
                                        </tr>
                                        \{/foreach\}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
</body>

</html>