<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\}
</head>

<body class="hold-transition skin-yellow sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\} \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content-header">
                <h1>首頁圖片檢視</h1>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\}
                        <form id="coverForm" class="form-horizontal" method="post" enctype="multipart/form-data" action="../controller/uiController.php">
                            <div class="form-group">
                                \{for $i = 0 to 4\}
                                <div class="col-md-12" style="text-align: center;">
                                    <h4>大圖 - \{$i + 1\}</h4>
                                    <div class="form-inline">
                                        <input type="file" class="uploadImage" name="index_img_\{$i\}" id="index_\{$i\}" data-input="false" accept="image/*" style="display: inline;"> \{if $images[index_img_|cat:$i].imageId != ''\}
                                        <a class="btn btn-danger" onclick="deleteImg('\{$images[index_img_|cat:$i].imageId\}');">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                        \{/if\}
                                    </div>
                                    <img id="index_\{$i\}_img" class="img-thumbnail" src="\{if $images[index_img_|cat:$i].imageName 
                                        \}\{$images[index_img_|cat:$i].path\}\{else\}../image/cover_1.png\{/if\}" alt="尚未上傳圖片">
                                </div>
                                \{/for\}
                            </div>
                            \{for $i = 0 to 5\}
                            <div class="form-group">
                                <div class="col-md-4" style="text-align: center;">
                                    <h4>小圖 - \{$i*3 + 5\}</h4>
                                    <div class="form-inline">
                                        <input type="file" class="uploadImage" name="index_img_\{$i*3 + 5\}" id="index_\{$i*3 + 5\}" data-input="false" accept="image/*"
                                            style="display: inline;"> \{if isset($images[index_img_|cat:($i*3 + 5)])\}
                                        <a class="btn btn-danger" onclick="deleteImg('\{$images[index_img_|cat:($i*3 + 5)].imageId\}');">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                        \{/if\}
                                    </div>
                                    <img id="index_\{$i*3 + 5\}_img" class="img-thumbnail" src="\{if isset($images[index_img_|cat:($i*5+3)])\}\{$images[index_img_|cat:($i*5+3)].path\}\{else\}../image/cover_2.png\{/if\}"
                                        alt="尚未上傳圖片">
                                    <div id="txt_\{$i*3 + 5\}_div" class="form-group">
                                        <p class="col-md-12">當前描述: \{if isset($images[index_img_|cat:($i*3 + 5)]) and $images[index_img_|cat:($i*3
                                            + 5)].link neq ''\}\{$images[index_img_|cat:($i*3 + 5)].link\}\{else\}尚無描述\{/if\}</p>
                                        <div class="col-md-12">
                                            <input id="txt_\{$i*3 + 5\}" name="txt_\{$i*3 + 5\}" class="form-control" placeholder="輸入新的描述(20字內)">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="text-align: center;">
                                    <h4>小圖 - \{$i*3 + 6\}</h4>
                                    <div class="form-inline">
                                        <input type="file" class="uploadImage" name="index_img_\{$i*3 + 6\}" id="index_\{$i*3 + 6\}" data-input="false" accept="image/*"
                                            style="display: inline;"> \{if isset($images[index_img_|cat:($i*3 + 6)])\}
                                        <a class="btn btn-danger" onclick="deleteImg('\{$images[index_img_|cat:($i*3 + 6)].imageId\}');">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                        \{/if\}
                                    </div>
                                    <img id="index_\{$i*3 + 6\}_img" class="img-thumbnail" src="\{if isset($images[index_img_|cat:($i*6+3)])\}\{$images[index_img_|cat:($i*6+3)].path\}\{else\}../image/cover_2.png\{/if\}"
                                        alt="尚未上傳圖片">
                                    <div id="txt_\{$i*3 + 6\}_div" class="form-group">
                                        <p class="col-md-12">當前描述: \{if isset($images[index_img_|cat:($i*3 + 6)]) and $images[index_img_|cat:($i*3
                                            + 6)].link neq ''\}\{$images[index_img_|cat:($i*3 + 6)].link\}\{else\}尚無描述\{/if\}</p>
                                        <div class="col-md-12">
                                            <input id="txt_\{$i*3 + 6\}" name="txt_\{$i*3 + 6\}" class="form-control" placeholder="輸入新的描述(20字內)">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="text-align: center;">
                                    <h4>小圖 - \{$i*3 + 7\}</h4>
                                    <div class="form-inline">
                                        <input type="file" class="uploadImage" name="index_img_\{$i*3 + 7\}" id="index_\{$i*3 + 7\}" data-input="false" accept="image/*"
                                            style="display: inline;"> \{if isset($images[index_img_|cat:($i*3 + 7)])\}
                                        <a class="btn btn-danger" onclick="deleteImg('\{$images[index_img_|cat:($i*3 + 7)].imageId\}');">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                        \{/if\}
                                    </div>
                                    <img id="index_\{$i*3 + 7\}_img" class="img-thumbnail" src="\{if isset($images[index_img_|cat:($i*7+3)])\}\{$images[index_img_|cat:($i*7+3)].path\}\{else\}../image/cover_2.png\{/if\}"
                                        alt="尚未上傳圖片">
                                    <div id="txt_\{$i*3 + 7\}_div" class="form-group">
                                        <p class="col-md-12">當前描述: \{if isset($images[index_img_|cat:($i*3 + 7)]) and $images[index_img_|cat:($i*3
                                            + 7)].link neq ''\}\{$images[index_img_|cat:($i*3 + 7)].link\}\{else\}尚無描述\{/if\}</p>
                                        <div class="col-md-12">
                                            <input id="txt_\{$i*3 + 7\}" name="txt_\{$i*3 + 7\}" class="form-control" placeholder="輸入新的描述(20字內)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            \{/for\}
                            <div class="form-group">
                                <div class="col-md-4" style="text-align: center;">
                                    <h4>小圖 - 23</h4>
                                    <div class="form-inline">
                                        <input type="file" class="uploadImage" name="index_img_23" id="index_23" data-input="false" accept="image/*" style="display: inline;"> \{if isset($images['index_img_23'])\}
                                        <a class="btn btn-danger" onclick="deleteImg('\{$images[23].imageId\}');">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                        \{/if\}
                                    </div>
                                    <img id="index_23_img" class="img-thumbnail" src="\{if isset($images[23])\}\{$images[23].path\}\{else\}../image/cover_2.png\{/if\}"
                                        alt="尚未上傳圖片">
                                </div>
                                <div class="col-md-4" style="text-align: center;">
                                    <h4>小圖 - 24</h4>
                                    <div class="form-inline">
                                        <input type="file" class="uploadImage" name="index_img_24" id="index_24" data-input="false" accept="image/*" style="display: inline;"> \{if isset($images['index_img_24'])\}
                                        <a class="btn btn-danger" onclick="deleteImg('\{$images[24].imageId\}');">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                        \{/if\}
                                    </div>
                                    <img id="index_24_img" class="img-thumbnail" src="\{if isset($images[24])\}\{$images[24].path\}\{else\}../image/cover_2.png\{/if\}"
                                        alt="尚未上傳圖片">
                                </div>
                                <div class="col-md-4" style="text-align: center;">
                                    <h4>小圖 - 25</h4>
                                    <div class="form-inline">
                                        <input type="file" class="uploadImage" name="index_img_25" id="index_25" data-input="false" accept="image/*" style="display: inline;"> \{if isset($images['index_img_25'])\}
                                        <a class="btn btn-danger" onclick="deleteImg('\{$images[25].imageId\}');">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                        \{/if\}
                                    </div>
                                    <img id="index_25_img" class="img-thumbnail" src="\{if isset($images[25])\}\{$images[25].path\}\{else\}../image/cover_2.png\{/if\}"
                                        alt="尚未上傳圖片">
                                </div>
                                <div class="col-md-4" style="text-align: center;">
                                    <h4>小圖 - 26</h4>
                                    <div class="form-inline">
                                        <input type="file" class="uploadImage" name="index_img_26" id="index_26" data-input="false" accept="image/*" style="display: inline;"> \{if isset($images['index_img_26'])\}
                                        <a class="btn btn-danger" onclick="deleteImg('\{$images[26].imageId\}');">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                        \{/if\}
                                    </div>
                                    <img id="index_26_img" class="img-thumbnail" src="\{if isset($images[26])\}\{$images[26].path\}\{else\}../image/cover_2.png\{/if\}"
                                        alt="尚未上傳圖片">
                                </div>
                                <div class="col-md-4" style="text-align: center;">
                                    <h4>小圖 - 27</h4>
                                    <div class="form-inline">
                                        <input type="file" class="uploadImage" name="index_img_27" id="index_27" data-input="false" accept="image/*" style="display: inline;"> \{if isset($images['index_img_27'])\}
                                        <a class="btn btn-danger" onclick="deleteImg('\{$images[27].imageId\}');">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                        \{/if\}
                                    </div>
                                    <img id="index_27_img" class="img-thumbnail" src="\{if isset($images[27])\}\{$images[27].path\}\{else\}../image/cover_2.png\{/if\}"
                                        alt="尚未上傳圖片">
                                </div>
                            </div>
                            <div class="box-footer" style="text-align: right;">
                                <input id="action" type="hidden" name="action" value="editIndexCover">
                                <input id="updateList" type="hidden" name="updateList" value="[]">
                                <button type="button" class="btn btn-primary" onclick="preview();">
                                    <i class="fa fa-eye"></i>&nbsp;預覽
                                </button>
                                <button type="submit" class="btn btn-success" onclick="submitForm();">
                                    <i class="fa fa-check"></i>&nbsp;更新
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
    <script type="text/javascript" src="../plugins/bootstrap-filestyle/src/bootstrap-filestyle.min.js"> </script>
    <script>
        var newImg = [];
        $(document).ready(function () {
            $(".uploadImage").filestyle({
                size: "nr",
                input: false,
                buttonText: "上傳圖片",
                buttonName: "btn-info",
                iconName: "glyphicon glyphicon-camera"
            });

            $(".uploadImage").change(function () {
                readURL(this);
            });

        });

        function preview() {
            $('#action').val('previewIndexCover');
            $('#coverForm').attr('target', '_blank');
            $('#coverForm').submit();
        }

        function submitForm() {
            $('#action').val('editIndexCover');
            $('#updateList').val(JSON.stringify(newImg));
            $('#coverForm').attr('target', '_self');
            $('#coverForm').submit();
        }

        function readURL(input) {
            id = '#' + input.id + '_img';
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $(id).attr('src', e.target.result);
                    $(id).css('display', '');
                }
                reader.readAsDataURL(input.files[0]);
                if ($.inArray(input.name, newImg) == -1) {
                    newImg.push(input.name);
                }
            }
        }

        function deleteImg(imageId) {
            BootstrapDialog.show({
                title: '提醒',
                message: '確定刪除該圖片嗎?',
                buttons: [{
                    label: '確定',
                    cssClass: 'btn-danger',
                    action: function () {
                        location = '../controller/uiController.php?action=imgDelete&imageId=' + imageId;
                    }
                }, {
                    label: '取消',
                    action: function (dialogItself) {
                        dialogItself.close();
                    }
                }]
            });
        }
    </script>
</body>

</html>