<!DOCTYPE html>
<html>

<head>
	\{include file="../common/resource.html"\}
</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		\{include file="../common/header.html"\}
        \{include file="../common/menu.html"\}
        <div class="content-wrapper">
        	<section class="content-header">
        		<h1></h1>
        	</section>
        	<section class="content">
        		<div class="row">
        			<div class="col-md-6">
        				\{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\}
                        <div class="box box-success">
                        	<div class="box-header with-border">
                                <h3 class="box-title">編輯貴賓證</h3>
                            </div>
                            <!-- form-->
                            <form class="form-horizontal" method="post" action="../controller/vipDeviceController.php">
                            	<div class="box-body">
                                    <div id="vipDeviceHu" class="form-group">
                                        <label for="HuIdDiv" class="col-sm-2 control-label">編號</label>
                                        <div class="col-sm-10">
                                            <input id="HuId" name="HuId" type="text" class="form-control" name="HuId"  placeholder="輸入貴賓證編號" value="\{$vip.vip_device_hu_id\}">
                                        </div>
                                    </div>
                                    <div id="vipDeviceDiv" class="form-group">
                                        <label for="macAddrDiv" class="col-sm-2 control-label">識別碼</label>
                                        <div class="col-sm-10">
                                            <input id="macAddr" name="macAddr" type="text" class="form-control" name="macAddr" minLength="6" placeholder="輸入貴賓證mac" value="\{$vip.mac_addr\}">
                                        </div>
                                    </div>
                                    <div id="nameDiv" class="form-group">
                                        <label for="vipNameDiv" class="col-sm-2 control-label">姓名</label>
                                        <div class="col-sm-10">
                                            <input id="name" name="name" type="text" class="form-control" name="name" minLength="2" placeholder="輸入貴賓名字" value="\{$vip.name\}">
                                        </div>
                                    </div>
                            	</div>
                            	<div class="box-footer" style="text-align: right;">
                                    <a href="../controller/vipDeviceController.php?action=viewVIPList" class="btn btn-warning">取消</a>
                                    <input type="hidden" name="action" value="editVipDevice">
                                    <input type="hidden" name="vipDeviceId" value="\{$vip.vip_device_id\}">
                                    <button type="submit" class="btn btn-primary">確定</button>
                                </div>

                            </form>
                        </div>
        			</div>
        		</div>
        	</section>
        </div>
        \{include file="../common/footer.html"\}
	</div>
</body>
</html>