<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\}
    <script type="text/javascript">
        var voices = [];
        var devices = [];
        $(document).ready(function(){
            initVoice();
            initDevice();
        });
        // initial voice data
        function initVoice(){
            \{foreach from = $vipVoiceData item = 'item'\}
                voices.push(\{json_encode($item)\});
            \{/foreach\}
        }
        // initial device data
        function initDevice(){
            \{foreach from = $devices item = 'item'\}
                devices.push(\{json_encode($item)\});
            \{/foreach\}
        }
        function renderSelect(data, type, piId){
            var str = '';
            if(type == "voice"){
                str += '<select id="voiceSel' + piId + '" name="v_name" class="selectpicker col-sm-3" onchange="changeVoice(' + piId + ')">';
                data.forEach(function(item, index){
                    str += '<option value="' + item.voice + '">' + item.voice_name + '</option>'
                });
            }else if(type == "device"){
                str += '<select id="deviceSel' + piId + '" name="hu_id" class="selectpicker col-sm-3">';
                data.forEach(function(item, index){
                    str += '<option value="' + item.mac_addr + '">' + item.hu_id + '</option>'
                });
            }
            str += '</select>';

            return str;
        }

        function changeVoice(piId){
            $('#audio' + piId).attr('src', $('#voiceSel' + piId).val());
        }
        // scan vipDevice
        function scan() {
            // 送scan請求給server
            var url = '../scanPi.php';
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", url, true);
            xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    var res = xmlhttp.responseText;
                    // alert(res);
                }
            }
            xmlhttp.send();

            var temp = BootstrapDialog.show({
                type: 'type-default',
                title: '掃描裝置中(等待15s)...',
                closable: false,
                message: '<div class="progress"><div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div></div>'
            });
            var i = 0;
            var counterBack = setInterval(function() {
                i++;
                if (i <= 15) {
                    $('.progress-bar').css('width', i * (100 / 15) + '%');
                } else {
                    clearInterval(counterBack);
                    temp.close();
                    location = "../controller/vipDeviceController.php?action=viewVIPPiList";
                }

            }, 1000);
        }
        // show device info
        function showInfo(piId, ip) {
            var str = '<h4>語音裝置資料</h4><table class="table table-striped">';
            str += '<thead><tr style="color:#FFFFFF;background-color: #00c0ef; width: 100%;"><th>裝置IP</th><th>裝置MAC</th><th>裝置狀態</th><th>建立時間</th><th>最後編輯</th></thead><tbody>';

            var visible = -1;
            \{foreach from = $piData item = 'item'\}
                if(ip == '\{$item.IPaddress\}'){
                    visible = \{$item.visible\};
                    str += '<tr><td>\{$item.IPaddress\}</td><td>\{$item.introduction\}</td>';
                    if (visible == 1) {
                        str += '<td class="text-success">已發現</td><td>\{$item.create_date\}</td><td>\{$item.lastupdate_date\}</td></tr>';
                    } else {
                        str += '<td class="text-danger">未發現</td><td>\{$item.create_date\}</td><td>\{$item.lastupdate_date\}</td></tr>';
                    }
                }
            \{/foreach\}
            str += '</tbody></table>';

            if(visible){
                var sel1 = renderSelect(devices, 'device', piId);
                var sel2 = renderSelect(voices, 'voice', piId);
                var arr = \{json_encode($beacons)\};
                var piArr = getPi(arr, ip);
                str += '<div class="box box-primary"><div class="box-header with-border"><h3 class="box-title">語音檔(Server)</h3></div><form class="form-horizontal" method="post" action="" onsubmit="return formValidation();"><div class="box-body">';
                str += '<div class="form-group"><label for="hu_id" class="col-sm-2 control-label">貴賓證編號</label>';
                str += sel1;
                str += '</div><div class="form-group"><label for="v_name" class="col-sm-2 control-label">語音名稱</label>';
                str += sel2;
                str += '<br><audio class="col-sm-offset-2" id="audio' + piId + '" controls src="' + voices[0].voice + '"></audio></div>';
                str += '<div class="form-group"><label for="status" class="col-sm-2 control-label">同步狀態</label>';
                if(inPi(piArr, devices[0].mac_addr)){
                    str += '<div class="col-sm-2"><h5 class="text-success col-sm-2">已同步</h5></div>';
                }else{
                    if(visible){
                        str += '<button id="btnSyn"' + piId + ' class="btn btn-danger" onclick="synchronous(\'' + ip + '\',' + piId + ',3)">未同步</button>';
                    }else{
                        str += '<div class="col-sm-2"><h5 class="text-warning">未知</h5></div>';
                    }
                }
                str += '</div></form>';

                str += '<h4>語音檔(語音裝置)</h4><table class="table table-striped">';
                str += '<thead><tr style="color:#FFFFFF; background-color: #00c0ef; width: 100%;"><th>貴賓證MAC</th><th>語音檔</th><th>RSSI</th><th>最後編輯</th><th>操作</th></thead><tbody>';
                \{foreach key='key' from = $beacons item = 'beacon'\}
                    \{foreach from = $beacon item = 'item'\}
                    if(same('\{$item.ip\}', ip)){
                        str += '<tr><td>\{$item.MAC\}</td><td>\{$item.MUSIC\}</td><td>\{$item.RSSI\}</td><td>\{$item.DATE\}</td><td><button class="btn btn-sm btn-primary" onclick="synchronous(\'' + ip + '\',\'\{$item.MAC\}\',\'\{$item.MUSIC\}\',1);"><i class="glyphicon glyphicon-play"></i></button>&nbsp;<button class="btn btn-sm btn-warning" onclick="synchronous(\'' + ip + '\',\'\{$item.MAC\}\',\'\{$item.MUSIC\}\',2);"><i class="glyphicon glyphicon-pause"></i></button>&nbsp;<button class="btn btn-sm btn-danger" onclick="synchronous(\'' + ip + '\',\'\{$item.MAC\}\',\'\{$item.MUSIC\}\',4);"><i class="glyphicon glyphicon-remove"></i></button></td></tr>';
                    }
                    \{/foreach\}
                \{/foreach\}
                str += '</tbody></table>';

                $('#panel' + piId).html(str);
                $('#voiceSel' + piId).selectpicker('refresh');
                $('#deviceSel' + piId).selectpicker('refresh');
            }else{
                $('#panel' + piId).html(str);
            }
        }

        function getPi(arr, ip){
            for(var i = 0; i < arr.length; i++){
                if(arr[i].length != 0 && arr[i][0].ip == ip){
                    return arr[i];
                }
            }
            return arr[0];
        }

        function inPi(devices, mac){
            for(var i = 0; i < devices.length; i++){
                if(devices[i].MAC == mac){
                    return true;
                }
            }
            return false;
        }

        function same(ip1, ip2){
            return (ip1 == ip2);
        }
        // synchronous voice data
        function synchronous(ip, piId, action){
            // 送scan請求給server
            var mac = $('#deviceSel' + piId).val();
            var music = $('#voiceSel' + piId).val();
            var url = '../synchronousPiDevice.php?ip=' + ip + '&mac=' + mac + '&music=' + music + '&action=' + action +'&rssi=190';
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", url, true);
            xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    var res = xmlhttp.responseText;
                    BootstrapDialog.alert(res);
                    if(action == 3){
                        location = '../controller/vipDeviceController.php?action=viewVIPPiList';
                    }
                }
            }
            xmlhttp.send();
        }
        // delete Pi from database
        function deleteDevice(ip){
            // 送scan請求給server
            BootstrapDialog.show({
                title:'提醒',
                message: '確定刪除語音裝置嗎?',
                buttons: [{
                    label: '確定',
                    cssClass: 'btn-danger',
                    action: function(){
                        location = '../controller/vipDeviceController.php?action=deletePiDevice&ip=' + ip;
                    }
                },{
                    label: '取消',
                    action: function(dialogItself){
                        dialogItself.close();
                    }
                }]
            });
        }
    </script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\}
        \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content-header">
                <h1></h1>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\} \{if $msg != ''\}
                        <div class="alert alert-success alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$msg\}</h4>
                        </div>
                        \{/if\}
                        <div class="box-footer">
                            <button type="button" class="btn btn-primary" onclick="scan();"><i class="fa fa-fw fa-spinner"></i>&nbsp;掃描裝置</button>
                        </div>
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">語音裝置列表</h3>
                            </div>
                            <div id="piList" class="box-body">
                                \{foreach from=$piData item='item'\}
                                <div class="panel panel-default">
                                    <a>
                                        <div class="panel-heading" data-toggle="collapse" data-parent="#piList" data-target="#collapseOne\{$item.vip_pi_id\}" onclick="showInfo(\{$item.vip_pi_id\}, '\{$item.IPaddress\}');" href="#collapseOne\{$item.vip_pi_id\}">
                                            <h4>
                                                <b>
                                                    語音裝置 ID: \{$item.vip_pi_id\}
                                                    \{if $item.visible\}
                                                    <span class="text-danger">&nbsp;(上線)</span>
                                                    <button class="btn btn-sm btn-primary" onclick="deleteDevice('\{$item.IPaddress\}');"><i class="glyphicon glyphicon-minus"></i></button>
                                                    \{else\}
                                                    <span class="text-success">&nbsp;(離線)</span>
                                                    \{/if\}
                                                </b>
                                            </h4>
                                        </div>
                                    </a>
                                </div>
                                <div id="collapseOne\{$item.vip_pi_id\}" class="panel-collapse collapse">
                                    <div class="panel-body" id="panel\{$item.vip_pi_id\}">
                                    </div>
                                </div>
                                \{/foreach\}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
</body>

</html>
