<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\}
    <script>
        $(document).ready(function(){
            scan();
        });
        function scan() {
            // 送scan請求給server
            var url = '../scanPi.php';
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", url, true);
            xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    var res = xmlhttp.responseText;
                    // alert(res);
                }
            }
            xmlhttp.send();

            var temp = BootstrapDialog.show({
                type: 'type-default',
                title: '掃描裝置中(等待15s)...',
                closable: false,
                message: '<div class="progress"><div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div></div>'
            });
            var i = 0;
            var counterBack = setInterval(function() {
                i++;
                if (i <= 15) {
                    $('.progress-bar').css('width', i * (100 / 15) + '%');
                } else {
                    clearInterval(counterBack);
                    temp.close();
                    location = "../controller/vipDeviceController.php?action=viewVIPPiList";
                }

            }, 1000);
        }
    </script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\}
        \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content-header">
                <h1></h1>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-md-6">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\}
                        <!-- <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">掃描語音撥放裝置</h3>
                            </div>
                            <form class="form-horizontal" method="post">
                                <div class="box-footer">
                                    <button type="button" class="btn btn-primary" onclick="scan();"><i class="fa fa-fw fa-spinner"></i>&nbsp;掃描裝置</button>
                                </div>
                            </form>
                        </div> -->
                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
</body>

</html>
