<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\}
    <script type="text/javascript" src="../plugins/bootstrap-filestyle/src/bootstrap-filestyle.min.js">
    </script>
    <!-- CK Editor -->
    <script type="text/javascript" src="../plugins/ckeditor/ckeditor.js"></script>
    <script>
    var imgCount = 1;
    $(document).ready(function() {
        $("#lifeImage1").filestyle({
            size: "nr",
            input: false,
            buttonText: "上傳圖片",
            buttonName: "btn-info",
            iconName: "glyphicon glyphicon-camera"
        });


        $("#lifeImage1").change(function() {
            readURL(this, '#lifeImg1');
        });

    });

    function readURL(input, id) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $(id).attr('src', e.target.result);
                $(id).css('display', '');
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function fieldValidation(field) {
        if ($.trim($(field).val()) == '') {
            $(field + 'Div').addClass('has-error');
            $(field + 'Div').val('');
            return false;
        } else {
            $(field + 'Div').removeClass('has-error');
        }
        return true;
    }

    function addFrameImg(i) {
        str = '<div id = "image' + i + '"><div class = "form-inline" style="display:inline-block;">';
        str += '<input type="file" id="lifeImage' + i + '" name="lifeImage' + i + '" data-input="false" accept="image/*">&nbsp';
        str += '<a class="btn btn-sm btn-danger" onclick="deleteFrameImg(' + i + ')"><i class="glyphicon glyphicon-remove"></i></a>';
        str += '</div>';
        str += '<img id="lifeImg' + i + '" class="img-thumbnail" style="display:none"><br></div>'

        $("#addImgStart").after(str);

        $("#lifeImage" + i).filestyle({
            size: "nr",
            input: false,
            buttonText: "上傳圖片",
            buttonName: "btn-info",
            iconName: "glyphicon glyphicon-camera"
        });

        $("#lifeImage" + i).change(function() {
            readURL(this, "#lifeImg" + i);
        });

    }

    function deleteFrameImg(i) {
        $("#image" + i).remove();
    }

    $(function() {
        // Replace the <textarea id="lifeEditor"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('lifeEditor');
    });
    </script>
</head>

<body class="hold-transition skin-yellow sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\} \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content-header">
                <h1>興南生活文章</h1>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-md-10">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\}
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">新增文章</h3>
                            </div>
                            <!-- form-->
                            <form class="form-horizontal" method="post" action="../controller/lifeController.php">
                                <div class="box-body">
                                    <div id="lifeTitleDiv" class="form-group">
                                        <label for="lifeTitle" class="col-sm-2 control-label">標題</label>
                                        <div class="col-sm-10">
                                            <input id="lifeTitle" name="lifeTitle" class="form-control" placeholder="輸入文章標題">
                                        </div>
                                    </div>
                                    <div id="lifeContent" class="form-group">
                                        <label for="lifeEditorDiv" class="col-sm-2 control-label">內容</label>
                                        <div class="col-sm-10">
                                            <textarea id="lifeEditor" name="lifeEditor" rows="10" cols="80">
                                            </textarea>
                                        </div>
                                    </div>
                                    <div id="lifeImageDiv" class="form-group">
                                        <label class="col-sm-2 control-label">文章圖片</label>
                                        <div class="col-sm-10">
                                            <div id="image1">
                                                <div class="form-inline" style="display:inline-block;">
                                                    <input type="file" id="lifeImage1" name="lifeImage1" data-input="false" accept="image/*">
                                                    <a class="btn btn-sm btn-primary" onclick="addFrameImg(++imgCount)"><i class="glyphicon glyphicon-plus"></i></a>
                                                </div>
                                                <img id="lifeImg1" class="img-thumbnail" style="display:none">
                                                <br>
                                            </div>
                                            <div id="addImgStart" name="addImgStart"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer" style="text-align: right;">
                                    <a href="../controller/lifeController.php?action=lifeAddPrepare" class="btn btn-warning">取消</a>
                                    <input type="hidden" name="action" value="lifeAdd">
                                    <button type="submit" class="btn btn-success">確定</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
</body>

</html>