<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\}
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\}
        \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content-header">
                <h1></h1>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-md-8">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\}
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">新增罐頭文字</h3>
                            </div>
                            <!-- form-->
                            <form class="form-horizontal" method="post" action="../controller/templateController.php" enctype = "multipart/form-data" onsubmit="return formValidation();">
                                <div class="box-body">
                                    <div id="contentDiv" class="form-group">
                                        <label for="content" class="col-sm-2 control-label">罐頭文字</label>
                                        <div class="col-sm-10">
                                            <input id="content" name="content" type="text" class="form-control" placeholder="輸入罐頭文字">
                                        </div>
                                    </div>
                                    <div id="contentEnDiv" class="form-group">
                                        <label for="contentEn" class="col-sm-2 control-label">罐頭文字(英文)</label>
                                        <div class="col-sm-10">
                                            <input id="contentEn" name="contentEn" type="text" class="form-control" placeholder="輸入罐頭文字">
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer" style="text-align: right;">
                                    <a onclick="clean();" class="btn btn-warning">取消</a>
                                    <input type="hidden" name="action" value="addText">
                                    <button type="submit" class="btn btn-primary">確定</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
    <script src="../javascript/templateAddText.js"></script>
</body>

</html>
