<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\}
    <script type="text/javascript" src="../plugins/bootstrap-filestyle/src/bootstrap-filestyle.min.js"> </script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\}
        \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content-header">
                <h1></h1>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-md-8">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\}
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">編輯樣板</h3>
                            </div>
                            <!-- form-->
                            <form class="form-horizontal" method="post" action="../controller/templateController.php" enctype = "multipart/form-data" onsubmit="return formValidation();">
                                <div class="box-body">
                                    <div id="namerDiv" class="form-group">
                                        <label for="name" class="col-sm-2 control-label">樣板名稱</label>
                                        <div class="col-sm-10">
                                            <input id="name" name="name" type="text" class="form-control" value="\{$templateData.name\}">
                                        </div>
                                    </div>
                                    <div id="templateDiv" class="form-group">
                                        <label for="template" class="col-sm-2 control-label">樣板</label>
                                        <div class="col-sm-10">
                                            <input type="file" id="template" name="template" data-input="false">
                                            <img id="templateImg" class="img-thumbnail" alt="樣板圖片" src="\{$templateData.template\}"/>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer" style="text-align: right;">
                                    <a href="../controller/templateController.php?action=viewTemplateList" class="btn btn-warning">取消</a>
                                    <input type="hidden" name="id" value="\{$templateData.hipster_template_id\}">
                                    <input type="hidden" name="action" value="editTemplate">
                                    <button type="submit" class="btn btn-primary">確定</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
    <script src="../javascript/templateEdit.js"></script>
</body>

</html>
