<!DOCTYPE html>
<html>
  <head>
  \{include file="../common/resource.html"\}
    <script src="../plugins/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="../plugins/jquery.ui.datepicker-zh-TW.js"></script>
    <link href="../plugins/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet">
    <link href="../plugins/jquery-ui-1.12.1.custom/jquery-ui.structure.css" rel="stylesheet">
    <link href="../plugins/jquery-ui-1.12.1.custom/jquery-ui.theme.css" rel="stylesheet">

    <script language="JavaScript">
        $(document).ready(function(){ 
            $("#begin").datepicker();
            $("#end").datepicker();
        });

    </script>

  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

  \{include file="../common/header.html"\}
  \{include file="../common/menu.html"\}


      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>按讚統計</h1>
        </section>

        <!-- Main content -->
        <section class="content">
  <div class="row">
  <div class="col-sm-6">
   <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">選擇特定時間</h3>
      </div>
      <form method="POST" action="../controller/statisticController.php">
        <div class="box-body">
          <label class="col-sm-1">起始</label>
          <input class="col-sm-3" id="begin" name="begin">
          <label class="col-sm-1">結束</label>
          <input class="col-sm-3" id="end" name="end">
          <input type="hidden" name="action" value="viewLikeCountDate">
        </div>
        <div class="box-body"  style="text-align: right;">
          <button class="btn btn-primary" type="submit">確定</button>
        </div>
      </form>
  </div>
  </div>    
  </div> 
  <div class="row">
    <div class="col-sm-8">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">模式</h3>
        </div>
        <div class="box-body">
          <table id="surveyGenderTable" class="table table-striped" cellspacing="0" width="100%">
            <thead style="background-color: #00c0ef;color: #fff;">
                <tr>
                  <th class="col-md-4">模式名稱</th>
                  <th class="col-md-2">閱覽數</th>
                  <th class="col-md-2">按讚數</th>
                </tr>
            </thead>
            <tbody>
              \{foreach from=$modeData item='item'\}
              <tr>
                <td>\{$item.mode_id\}&nbsp&nbsp\{$item.name\}</td>
                <td>\{$item.read_count\}</td>
                <td>\{$item.like_count\}</td>
              </tr>
              \{/foreach\}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">區域</h3>
        </div>
        <div class="box-body">
          <table id="surveyGenderTable" class="table table-striped" cellspacing="0" width="100%">
            <thead style="background-color: #00c0ef;color: #fff;">
                <tr>
                  <th class="col-md-4">區域名稱</th>
                  <th class="col-md-2">點讚數</th>
                </tr>
            </thead>
            <tbody>
              \{foreach from=$zoneData item='item'\}
              <tr>
                <td>\{$item.zone_id\}&nbsp&nbsp\{$item.name\}</td>
                <td>\{$item.like_count\}</td>
              </tr>
              \{/foreach\}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">裝置</h3>
        </div>
        <div class="box-body">
          <table id="surveyGenderTable" class="table table-striped" cellspacing="0" width="100%">
            <thead style="background-color: #00c0ef;color: #fff;">
                <tr>
                  <th class="col-md-4">裝置名稱</th>
                  <th class="col-md-2">閱覽數</th>
                  <th class="col-md-2">按讚數</th>
                </tr>
            </thead>
            <tbody>
              \{foreach from=$deviceData item='item'\}
              <tr>
                <td>\{$item.device_id\}&nbsp&nbsp\{$item.name\}</td>
                <td>\{$item.read_count\}</td>
                <td>\{$item.like_count\}</td>
              </tr>
              \{/foreach\}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      \{include file="../common/footer.html"\}
    </div><!-- ./wrapper -->
  </body>


</html>
