<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\}
    <script>
     function pathValidation(){          //檢查有無重複路徑
        return true;
    }

    </script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\}
        \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content-header">
                <h1>走法修改</h1>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-8">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\}
                        \{if $msg != ''\}
                        <div class="alert alert-success alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$msg\}</h4>
                        </div>
                        \{/if\}

                        <div class="box box-success">   
                            <!-- form-->
                            <form class="form-horizontal" method="post" action="../controller/pathController.php" onsubmit="return pathValidation();">
                                <div class="box-body">
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <div class="row">
                                            <label class="col-sm-3 control-label">順序</label>
                                            <label class="col-sm-9" style="padding-top:7px;text-align:left">選擇路徑(SVG ID)</label> 
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            \{foreach from=$pathData item='item'\}
                                            <label for="svg" class="col-sm-3 control-label">\{$item.order\}</label>
                                            <div id="pathSelect\{$item.order\}" class="col-sm-9">
                                                <select id="path\{$item.order\}" name="path\{$item.order\}" class="selectpicker">
                                                    \{foreach from=$allPath item='item2'\}
                                                        \{if $item.svg_id == $item2.svg_id \}
                                                        <option value="\{$item2.svg_id\}" selected> \{$item2.svg_id\}&nbsp;&nbsp;|&nbsp;&nbsp; \{$item2.start\}&nbsp;&nbsp;&nbsp;&nbsp;\{$item2.Sn\} &nbsp;&nbsp;|&nbsp;&nbsp; \{$item2.end\}&nbsp;&nbsp;\{$item2.En\}</option>
                                                        \{else\}
                                                        <option value="\{$item2.svg_id\}"> \{$item2.svg_id\}&nbsp;&nbsp;|&nbsp;&nbsp; \{$item2.start\}&nbsp;&nbsp;&nbsp;&nbsp;\{$item2.Sn\} &nbsp;&nbsp;|&nbsp;&nbsp; \{$item2.end\}&nbsp;&nbsp;\{$item2.En\}</option>
                                                        \{/if\}
                                                    \{/foreach\}    
                                                </select>
                                            </div>
                                            \{/foreach\}
                                        </div>       
                                    </div>
                                </div>
                                <!--box-body-->
                                <div class="box-footer" style="text-align: right;">
                                    <a href="../controller/pathController.php?action=listChoosePath" class="btn btn-warning">取消</a>
                                    <input type="hidden" name="choosePathID" value="\{$choosePathID\}">
                                    <input type="hidden" name="pathCount" value="\{$pathCount\}">
                                    <input type="hidden" name="action" value="updateChoosePath">
                                    <button type="submit" class="btn btn-primary">確定</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
</body>

</html>
