<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\}
    
<script type="text/javascript">

    function pathValidation(){          //檢查SVG_ID是否重複
        \{foreach from=$allSvgID item=item\}
            if( $('#svg_id').val() == \{$item.svg_id\}){
                BootstrapDialog.alert("該SVG_ID已使用，修改請至路盡管理修改");
                return false;
            }
        \{/foreach\}
        
        if( $('#start').val() == ""){
            BootstrapDialog.alert("未選擇起始區域");
            return false;
        }
        
        if( $('#end').val() == ""){
            BootstrapDialog.alert("未選擇目的區域");
            return false;
        }
        return true;
    }

</script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\}
        \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content-header">
                <h1>新增路徑</h1>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-md-8">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\}
                        \{if $msg != ''\}
                        <div class="alert alert-success alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$msg\}</h4>
                        </div>
                        \{/if\}
                        <div class="box box-primary">
                            <!-- form-->
                            <form class="form-horizontal" method="post" action="../controller/pathController.php" onsubmit="return pathValidation();">
                                <div id="test"class="box-body">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label for="svg" class="col-sm-3 control-label">SVG圖上ID</label>
                                            <div class="col-sm-9">
                                                <input id="svg_id" name="svg_id" type="text" class="form-control" placeholder="輸入SVG圖上ID">
                                            </div>
                                        </div>  
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">起始區域</label>
                                            <select id="start" name="start" class="selectpicker col-sm-9">
                                                <option value=""></option>
                                                \{foreach from=$allZone item='item'\}
                                                <option value="\{$item.zone_id\}"> \{$item.zone_id\}&nbsp;&nbsp;\{$item.name\}</option>
                                                \{/foreach\}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">目的區域</label>
                                            <select id="end" name="end" class="selectpicker col-sm-9">
                                                <option value=""></option>
                                                \{foreach from=$allZone item='item'\}
                                                <option value="\{$item.zone_id\}"> \{$item.zone_id\}&nbsp;&nbsp;\{$item.name\}</option>
                                                \{/foreach\}
                                            </select>
                                        </div>                              
                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer" style="text-align: right;">
                                    <a href="../controller/pathController.php?action=addPathForm" class="btn btn-warning">取消</a>
                                    <input type="hidden" name="action" value="addPath">
                                    <button type="submit" class="btn btn-primary">確定</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
</body>


</html>
