<!DOCTYPE html>
<html>

<head>
    \{include file="../common/resource.html"\}
    <script type="text/javascript" src="../plugins/bootstrap-filestyle/src/bootstrap-filestyle.min.js"> </script>
    <script>
        $(document).ready(function() {
            $("#tryOnImage").filestyle({
                size: "nr",
                input: false,
                buttonText: "上傳圖片",
                buttonName: "btn-info",
                iconName: "glyphicon glyphicon-camera"
            });
           

            $("#tryOnImage").change(function() {
                readURL(this, '#tryOnImg');
            });
            
        });

        function readURL(input, id) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $(id).attr('src', e.target.result);
                    $(id).css('display', '');
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

    </script>
</head>

<body class="hold-transition skin-yellow sidebar-mini">
    <div class="wrapper">
        \{include file="../common/header.html"\}
        \{include file="../common/menu.html"\}
        <div class="content-wrapper">
            <section class="content-header">
                <h1>試戴鏡框新增</h1>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-md-6">
                        \{if $error != ''\}
                        <div class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4 style="display: inline;">\{$error\}</h4>
                        </div>
                        \{/if\}
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">新增試戴鏡框</h3>
                            </div>
                            <!-- form-->
                            <form class="form-horizontal" method="post" enctype="multipart/form-data" action="../controller/tryOnController.php">
                                <div class="box-body">
                                    <div id="frameDiv" class="form-group">
                                        <label for="frame" class="col-sm-2 control-label">試戴鏡框編號</label>
                                        <div class="col-sm-6">
                                            <select class="selectpicker" name="frame" id="frame" data-live-search="true" title="請選擇鏡框">
                                                \{foreach from=$frameData item=frame \}
                                                <option value='\{$frame.frameId\}' selected>\{$frame.frameName\}</option>
                                                \{/foreach\}
                                            </select>
                                        </div>
                                    </div>
                                    <div id="tryOnImageDiv" class="form-group">
                                        <label class="col-sm-2 control-label">試戴鏡框圖片</label>
                                        <div class="col-sm-10">
                                            <input type="file" id="tryOnImage" name="tryOnImage" data-input="false" accept="image/*">
                                            <img id="tryOnImg" class="img-thumbnail" style="display:none">
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer" style="text-align: right;">
                                    <a href="../controller/tryOnController.php?action=tryOnAddPrepare" class="btn btn-warning">取消</a>
                                    <input type="hidden" name="action" value="tryOnAdd">
                                    <button type="submit" class="btn btn-success">確定</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        \{include file="../common/footer.html"\}
    </div>
</body>

</html>
